<template>
    <div class="admin">
        <div class="admin-menu" ref="menu">
            <h1 class="admin-menu-header"><a href="/" target="_blank">bankomat.su</a></h1>
            <div class="list-group list-group-sm list-group-flush">
                <a href="/" target="_blank" class="list-group-item list-group-item-action d-flex justify-content-between">
                    <div>
                        <i class="fas fa-globe fa-fw mr-2"></i>
                        <span>Перейти на сайт</span>
                    </div>
                    <div>
                        <i class="fas fa-angle-right"></i>
                    </div>
                </a>
                <router-link
                        v-for="item in menu"
                        :key="item.route"
                        :to="{ name: item.route }"
                        :class="'list-group-item list-group-item-action d-flex justify-content-between' + (isRoute(item.route) ? ' active' : '')">
                    <div>
                        <i :class="'fas fa-fw fa-' + item.icon + ' mr-2'"></i>
                        <span v-text="item.title"></span>
                    </div>
                    <div>
                        <i class="fas fa-angle-right"></i>
                    </div>
                </router-link>
                <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between" @click.prevent.stop="logout">
                    <div>
                        <i class="fas fa-sign-out-alt fa-fw mr-2"></i>
                        <span>Выход</span>
                    </div>
                    <div>
                        <i class="fas fa-angle-right"></i>
                    </div>
                </a>
            </div>
        </div>

        <div class="admin-content" ref="content">
            <b-navbar type="dark" class="admin-navbar" variant="dark">
                <b-navbar-nav>
                    <b-nav-item class="toggle-sidebar" @click.prevent.stop="toogleSidebar">
                        <burger :active="sidebar"></burger>
                    </b-nav-item>
                </b-navbar-nav>
                <b-navbar-nav class="ml-auto">
                    <b-nav-item @click.prevent.stop="logout">
                        <icon>sign-out-alt</icon>
                        Выход
                    </b-nav-item>
                </b-navbar-nav>
            </b-navbar>

            <b-container class="mt-3">
                <router-view></router-view>
            </b-container>

            <footer class="admin-footer mt-auto text-muted p-3">
                <b-container>
                    &copy; {{ year }} - Все права защищены!
                </b-container>
            </footer>
        </div>
    </div>
</template>

<style lang="scss">
    .admin-content {
        min-height: 100vh;
        background: #fff;
        display: flex;
        flex-direction: column;
        @media (min-width: 1024px) {
            margin-left: 256px;
        }
    }

    .admin-menu-header {
        margin: 0;
        height: 71px;
        text-align: center;
        line-height: 71px;
        font-size: 25px;
        a {
            text-decoration: none;
            border: none;
            color: #8492a6;
            transition: 0.3s linear color;
            &:hover,
            &:active {
                color: #fff;
            }
        }
    }

    .slideout-menu {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 256px;
        min-height: 100vh;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        z-index: 0;
        display: none;
        background: #273444;
        .list-group-item {
            background: transparent;
            border: none;
            &:hover,
            &:active,
            &:focus {
                background: rgba(black, 0.25);
            }
        }

        @media (min-width: 1024px) {
            display: block;
            overflow-y: auto;
            z-index: 100;
        }
    }

    .toggle-sidebar {
        @media (min-width: 1024px) {
            display: none;
        }
    }

    .slideout-menu-left {
        left: 0;
    }

    .slideout-menu-right {
        right: 0;
    }

    .slideout-panel {
        position: relative;
        z-index: 1;
        will-change: transform;
        background-color: #FFF;
    }

    .slideout-open,
    .slideout-open body,
    .slideout-open .slideout-panel {
        overflow: hidden;
    }

    .slideout-open .slideout-menu {
        display: block;
    }
</style>

<script>
    import $ from 'jquery'
    window.$ = window.jQuery = $
    import Slideout from 'slideout'
    import Icon from '../components/Icon'
    import Burger from '../components/Burger'

    export default {
        computed: {
            menu() {
                let result = [];
                if (this.$permission('users:browse')) {
                    result.push({
                        route: 'users',
                        title: 'Пользователи',
                        icon: 'users',
                    })
                }
                if (this.$permission('roles:browse')) {
                    result.push({
                        route: 'roles',
                        title: 'Роли',
                        icon: 'award',
                    })
                }
                if (this.$permission('pages:browse')) {
                    result.push({
                        route: 'pages',
                        title: 'Страницы',
                        icon: 'file',
                    })
                }
                if (this.$permission('posts:browse')) {
                    result.push({
                        route: 'posts',
                        title: 'Блог',
                        icon: 'book',
                    })
                }
                if (this.$permission('faq:browse')) {
                    result.push({
                        route: 'faq',
                        title: 'FAQ',
                        icon: 'question',
                    })
                }
                if (this.$permission('reviews:browse')) {
                    result.push({
                        route: 'reviews',
                        title: 'Отзывы',
                        icon: 'thumbs-up',
                    })
                }
                if (this.$permission('partners:browse')) {
                    result.push({
                        route: 'partners',
                        title: 'Партнёры',
                        icon: 'piggy-bank',
                    })
                }
                if (this.$permission('payment_systems:browse')) {
                    result.push({
                        route: 'paymentSystems',
                        title: 'Способы оплаты',
                        icon: 'money-check-alt',
                    })
                }
                if (this.$permission('messages:browse')) {
                    result.push({
                        route: 'messages',
                        title: 'Строки',
                        icon: 'align-justify',
                    })
                }
                if (this.$permission('statistics:browse')) {
                    result.push({
                        route: 'statistics',
                        title: 'Статистика',
                        icon: 'chart-line',
                    })
                }
                if (this.$permission('settings:scripts') || this.$permission('settings:social') || this.$permission('settings:api')) {
                    result.push({
                        route: 'settings',
                        title: 'Настройки',
                        icon: 'cogs',
                    })
                }
                return result
            }
        },
        components: {
            Icon,
            Burger,
        },
        data() {
            return {
                year: new Date().getFullYear(),
                slideout: null,
                sidebar: false,
            }
        },
        mounted() {
            this.slideout = new Slideout({
                'panel': this.$refs.content,
                'menu': this.$refs.menu,
                'padding': 256,
                'tolerance': 70
            });
            this.slideout.on('open', () => this.sidebar = true);
            this.slideout.on('close', () => this.sidebar = false);
        },
        methods: {
            toogleSidebar() {
                this.slideout.toggle();
            },
            isRoute(name) {
                if (this.$route.name == name) {
                    return true;
                }

                if ((new RegExp('^' + name)).test(this.$route.name)) {
                    return true;
                }

                return false;
            },
            logout() {
                this.$store.dispatch('auth/logout').then(() => {
                    this.$router.push({
                        name: 'login'
                    })
                })
            },
        }
    }
</script>
