<template>
    <section class="slice slice-lg vh-100 bg-gradient-primary overflow-hidden" data-offset-top="#header-main">
        <div class="bg-absolute-cover vh-100 overflow-hidden">
            <figure class="w-100">
                <img alt="Image placeholder" src="/assets/images/svg/backgrounds/bg-4.svg" class="svg-inject">
            </figure>
        </div>
        <div class="container h-100 d-flex align-items-center position-relative zindex-100">
            <div class="col">
                <router-view></router-view>
            </div>
        </div>
        <div class="position-absolute bottom-0 right-4 overflow-hidden">
            <figure class="w-50">
                <img alt="Image placeholder" src="/assets/images/svg/illustrations/design-thinking.svg" class="svg-inject opacity-2">
            </figure>
        </div>
    </section>
</template>

