<template>
    <div>
        <div class="d-flex mb-3">
            <div class="h5 mt-auto mb-auto">
                <icon class="mr-3">cogs</icon> Настройки
            </div>
        </div>

        <ul class="nav nav-tabs mb-3">
            <li class="nav-item" v-for="item in menu" :key="item.route">
                <router-link :class="{'nav-link': true, active: item.route == $route.name}" :to="{name: item.route}">
                    {{ item.title }}
                </router-link>
            </li>
        </ul>

        <router-view></router-view>
    </div>
</template>

<script>
    import Icon from '../components/Icon'

    export default {
        components: {Icon},
        metaInfo: {
            title: 'Настройки - bankomat.su',
        },
        computed: {
            menu() {
                let result = [];
                if (this.$permission('settings:scripts')) {
                    result.push({ route: 'settingsScripts', title: 'Скрипты' })
                }
                if (this.$permission('settings:social')) {
                    result.push({ route: 'settingsSocial', title: 'Социальные сети' })
                }
                if (this.$permission('settings:api')) {
                    result.push({ route: 'settingsAPI', title: 'API' })
                }
                return result
            }
        },
    }
</script>
