<template>
    <div class="row justify-content-center">
        <div class="col-lg-7 text-center">
            <h6 class="h1 mb-5 font-weight-400 text-white">Страница не найдена</h6>
            <a href="/" class="btn btn-white btn-icon rounded-pill hover-translate-y-n3">
                <span class="btn-inner--icon"><i class="fas fa-home"></i></span>
                <span class="btn-inner--text">Вернуться домой?</span>
            </a>
        </div>
    </div>
</template>

<script>
    export default {
        metaInfo: {
            title: 'Страница не найдена - bankomat.su',
        },
    }
</script>
