<template>
    <div class="row justify-content-center">
        <div class="col-lg-7 text-center">
            <h6 class="h1 mb-5 font-weight-400 text-white">Ошибка сервера</h6>
        </div>
    </div>
</template>

<script>
    export default {
        metaInfo: {
            title: 'Ошибка сервера - bankomat.su',
        },
    }
</script>
