<template>
    <div>
        <div class="d-block d-lg-flex mb-3">
            <div class="h5 mt-auto mb-auto">
                <icon class="mr-3">question</icon> FAQ
                <span class="small text-muted d-block d-lg-inline-block" v-if="$store.state.faq.total !== null">
                    {{ items.length | plural('Показан %d вопрос', 'Показано %d вопроса', 'Показано %d вопросов') }} из {{ $store.state.faq.total }}
                </span>
            </div>
            <b-button variant="primary" v-if="$permission('faq:create')" size="sm" class="ml-auto mt-3 mt-lg-0" @click.prevent.stop="createFaq()">
                <icon class="mr-2">plus</icon>
                Добавить вопрос
            </b-button>
        </div>

        <div class="card">
            <div class="table-responsive">
                <table class="table table-striped" width="100%">
                    <thead>
                        <tr>
                            <th width="40" class="d-none d-lg-table-cell">№</th>
                            <th width="600">Вопрос / Ответ</th>
                            <th class="d-none d-lg-table-cell">Даты</th>
                            <th class="text-center" v-if="$permission('faq:delete') || $permission('faq:update')">Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, i) in items" :key="item.id">
                            <td class="d-none d-lg-table-cell">{{ item.id }}</td>
                            <td style="white-space:normal">
                                <span :class="item.icon + ' mr-2'"></span>
                                <span>{{ item.question }}</span>
                                <div class="small">{{ item.answer | maxLength(50) }}</div>
                            </td>
                            <td class="d-none d-lg-table-cell">
                                <div class="small">Изменено {{ item.updated_at | dateTime | lower }}</div>
                                <div class="small">Создано {{ item.created_at | dateTime | lower }}</div>
                            </td>
                            <td class="text-center" v-if="$permission('faq:delete') || $permission('faq:update')">
                                <a v-if="$permission('faq:update')" href="#" title="Редактировать" class="mr-3" @click.prevent.stop="editFaq(item)">
                                    <icon>pencil-alt</icon>
                                </a>
                                <a v-if="$permission('faq:delete')" href="#" title="Удалить" class="text-danger" @click.prevent.stop="confirmRemoving(item)">
                                    <icon>trash-alt</icon>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-body" v-if="$store.state.faq.total > $store.state.faq.perPage">
                <b-pagination v-model="page" :total-rows="$store.state.faq.total" :per-page="$store.state.faq.perPage"></b-pagination>
            </div>
        </div>

        <validation-observer v-slot="{ handleSubmit }">
            <b-modal v-model="modal">
                <template v-slot:modal-title>
                    <template v-if="modalType == 'create'">
                        <icon class="mr-3">plus</icon>
                        Создание вопроса
                    </template>
                    <template v-else>
                        <icon class="mr-3">pencil-alt</icon>
                        Редактирование вопроса
                    </template>
                </template>

                <validation-provider rules="required" v-slot="{ errors }">
                    <b-form-group
                            label="Иконка"
                            label-for="icon"
                            :invalid-feedback="errors.length ? errors[0] : null"
                            :state="errors.length ? false : null"
                    >
                        <b-form-input id="icon"
                                      v-model="modalItem.icon"
                                      name="icon"
                                      :state="errors.length ? false : null"
                        ></b-form-input>
                    </b-form-group>
                </validation-provider>

                <validation-provider rules="required" v-slot="{ errors }">
                    <b-form-group
                            label="Вопрос"
                            label-for="question"
                            :invalid-feedback="errors.length ? errors[0] : null"
                            :state="errors.length ? false : null"
                    >
                        <b-form-input id="question"
                                      v-model="modalItem.question"
                                      name="question"
                                      :state="errors.length ? false : null"
                        ></b-form-input>
                    </b-form-group>
                </validation-provider>

                <validation-provider rules="required" v-slot="{ errors }">
                    <b-form-group
                            label="Ответ"
                            label-for="answer"
                            :invalid-feedback="errors.length ? errors[0] : null"
                            :state="errors.length ? false : null"
                    >
                        <b-form-textarea
                                id="answer"
                                name="answer"
                                v-model="modalItem.answer"
                                rows="3"
                                max-rows="1000"
                        ></b-form-textarea>
                    </b-form-group>
                </validation-provider>

                <template v-slot:modal-footer="{ ok, cancel, hide }">
                    <b-button variant="secondary" @click.prevent.stop="hide()">
                        Закрыть
                    </b-button>
                    <b-button variant="primary" @click.prevent.stop="handleSubmit(saveFaq)">
                        Сохранить
                    </b-button>
                </template>
            </b-modal>
        </validation-observer>

        <b-modal v-model="removeModal" title="">
            <template v-slot:modal-title>
                <icon class="mr-3">trash-alt</icon>
                Удаление вопроса
            </template>

            <p class="mb-0">Вы действительно хотите удалить вопрос?</p>

            <template v-slot:modal-footer="{ ok, cancel, hide }">
                <b-button variant="secondary" @click.prevent.stop="hide()">
                    Нет, не удалять
                </b-button>
                <b-button variant="danger" @click.prevent.stop="removeFaq()">
                    Да, удалить
                </b-button>
            </template>
        </b-modal>
    </div>
</template>

<script>
    import Icon from '../components/Icon'
    import dateTime from '../filters/dateTime'
    import maxLength from '../filters/maxLength'
    import lower from '../filters/lower'
    import Alert from '../Alert'
    import plural from 'plural-ru'

    export default {
        components: {Icon},
        filters: {dateTime, maxLength, lower, plural},
        metaInfo: {
            title: 'FAQ - bankomat.su',
        },
        data() {
            return {
                page: this.$route.query.page || 1,
                modal: false,
                modalType: 'create',
                modalItem: {
                    question: '',
                    icon: '',
                    answer: '',
                },
                items: [],
                removeModal: false,
                toRemove: null,
            }
        },
        created() {
            if (!this.$store.state.auth.user) {
                this.$router.push({ name: 'login' })
            } else if (!this.$permission('faq:browse')) {
                this.$router.push({ name: 'error403' })
            } else {
                this.update().then(items => {
                    if (typeof this.$route.query.action !== 'undefined') {
                        if (this.$route.query.action === 'create') {
                            this.modal = true
                            this.modalType = 'create'
                            this.modalItem = {
                                question: '',
                                answer: '',
                                icon: '',
                            }
                        } else {
                            let faq = null
                            for (let item of items) {
                                if (item.id == this.$route.query.id) {
                                    faq = item
                                    break
                                }
                            }
                            if (faq !== null) {
                                if (this.$route.query.action === 'edit') {
                                    this.modalItem = faq
                                    this.modalType = 'edit'
                                    this.modal = true
                                } else if (this.$route.query.action === 'remove') {
                                    this.toRemove = faq
                                    this.removeModal = true
                                }
                            }
                        }
                    }
                })
            }
        },
        watch: {
            page(page) {
                this.$router.push({
                    name: 'faq',
                    query: {
                        page,
                    },
                });
                this.$nextTick(() => this.update())
            },
            modal(modal) {
                if (modal == false) {
                    this.resetQuery()
                }
            },
            removeModal(modal) {
                if (modal == false) {
                    this.resetQuery()
                }
            },

        },
        methods: {
            update() {
                return new Promise(resolve => {
                    this.$store
                        .dispatch('faq/page', { page: this.page })
                        .then(items => {
                            this.items = items
                            resolve(items)
                        })
                })
            },
            createFaq() {
                this.$router.push({
                    name: 'faq',
                    query: {
                        page: this.page,
                        action: 'create',
                    },
                })
                this.modalItem = {
                    question: '',
                    icon: '',
                    answer: '',
                }
                this.modalType = 'create'
                this.modal = true
            },
            editFaq(faq) {
                this.$router.push({
                    name: 'faq',
                    query: {
                        page: this.page,
                        action: 'edit',
                        id: faq.id,
                    },
                })
                this.modalItem = Object.assign({}, faq)
                this.modalType = 'edit'
                this.modal = true
            },
            resetQuery() {
                if (typeof this.$route.query.action == 'undefined' &&
                    typeof this.$route.query.id == 'undefined' &&
                    this.$route.query.page == this.page) {
                    return
                }

                this.$router.push({
                    name: 'faq',
                    query: {
                        page: this.page,
                    },
                })
            },
            saveFaq() {
                if (this.modalType == 'create') {
                    this.$store.dispatch('faq/create', this.modalItem)
                        .then(() => {
                            this.modal = false
                            Alert.success('Вопрос создан')
                            this.update()
                            this.resetQuery()
                        })
                        .catch(Alert.unknownError)
                } else {
                    this.$store.dispatch('faq/update', this.modalItem)
                        .then(() => {
                            this.modal = false
                            Alert.success('Данные обновлены')
                            this.update()
                            this.resetQuery()
                        })
                        .catch(Alert.unknownError)
                }
            },
            confirmRemoving(page) {
                this.$router.push({
                    name: 'faq',
                    query: {
                        page: this.page,
                        action: 'remove',
                        id: page.id,
                    },
                })
                this.toRemove = page
                this.removeModal = true
            },
            removeFaq() {
                this.$store.dispatch('faq/remove', this.toRemove)
                    .then(() => {
                        this.removeModal = false
                        Alert.success('Вопрос удалён')
                        this.update()
                        this.resetQuery()
                    })
                    .catch(Alert.unknownError)
            },
        }
    }
</script>
