<template>
    <div class="main-content">
        <div class="container h-100vh d-flex align-items-center">
            <div class="col">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-5 col-xl-4">
                        <div>
                            <div class="mb-5 text-center">
                                <h6 class="h3">Вход</h6>
                                <p class="text-muted mb-0">Войдите в свой аккаунт для продолжения.</p>
                            </div>
                            <span class="clearfix"></span>
                            <validation-observer v-slot="{ handleSubmit }">
                                <form @submit.prevent.stop="handleSubmit(submit)" autocomplete="off">
                                    <input id="username" style="display:none" type="text" name="fakeusernameremembered">
                                    <input id="password" style="display:none" type="password" name="fakepasswordremembered">

                                    <validation-provider rules="required|email" v-slot="{ errors }">
                                        <b-form-group
                                                label="Email"
                                                label-for="real-username"
                                                :invalid-feedback="errors.length ? errors[0] : null"
                                                :state="errors.length ? false : null"
                                        >
                                            <b-input-group class="input-group-merge">
                                                <b-input-group-prepend>
                                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                                </b-input-group-prepend>
                                                <b-form-input id="real-username"
                                                              v-model="form.email"
                                                              name="real-username"
                                                              autocomplete="nope"
                                                              type="email"
                                                              placeholder="name@example.com"
                                                              :state="errors.length ? false : null"
                                                ></b-form-input>
                                            </b-input-group>
                                        </b-form-group>
                                    </validation-provider>

                                    <validation-provider rules="required" v-slot="{ errors }">
                                        <b-form-group
                                                label="Пароль"
                                                label-for="real-password"
                                                :invalid-feedback="errors.length ? errors[0] : null"
                                                :state="errors.length ? false : null"
                                        >
                                            <b-input-group class="input-group-merge">
                                                <b-input-group-prepend>
                                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                                </b-input-group-prepend>
                                                <b-form-input id="real-password"
                                                              v-model="form.password"
                                                              name="real-password"
                                                              :type="passwordType"
                                                              autocomplete="new-password"
                                                              placeholder="Пароль"
                                                              :state="errors.length ? false : null"
                                                ></b-form-input>
                                                <b-input-group-append>
                                                    <span class="input-group-text" style="cursor:pointer" @click.prevent.stop="passwordType = passwordType == 'password' ? 'text' : 'password'">
                                                        <i :class="'fas fa-eye' + (passwordType != 'password' ? '-slash' : '')"></i>
                                                    </span>
                                                </b-input-group-append>
                                            </b-input-group>
                                        </b-form-group>
                                    </validation-provider>
                                    <b-button variant="primary" block type="submit" class="mt-4">Войти</b-button>
                                </form>
                            </validation-observer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Alert from '../Alert'

    export default {
        beforeRouteEnter(to, from, next) {
            next(vm => {
                if (vm.$store.state.auth.user) {
                    vm.$store.dispatch('auth/logout')
                }
            })
        },
        metaInfo: {
            title: 'Вход - bankomat.su',
        },
        data() {
            return {
                form: {
                    email: null,
                    password: null,
                },
                passwordType: 'password',
            }
        },
        methods: {
            submit() {
                this.$store.dispatch('auth/login', this.form)
                    .then(() => {
                        const redirectTo = this.$store.state.auth.redirectTo
                        this.$store.commit('auth/RESET_REDIRECT_TO')
                        this.$router.push(redirectTo)
                    })
                    .catch(() => Alert.danger('Неверный логин или пароль'))
            },
        },
    }
</script>
