<template>
    <div>
        <div class="d-block d-lg-flex mb-3">
            <div class="h5 mt-auto mb-auto">
                <icon class="mr-3">align-justify</icon> Строки
                <span class="small text-muted d-block d-lg-inline-block" v-if="$store.state.messages.total !== null">
                    {{ items.length | plural('Показана %d строка', 'Показано %d строки', 'Показано %d строк') }} из {{ $store.state.messages.total }}
                </span>
            </div>
            <b-button variant="primary" v-if="$permission('messages:create')" size="sm" class="ml-auto mt-3 mt-lg-0" @click.prevent.stop="createMessage()">
                <icon class="mr-2">plus</icon>
                Добавить строку
            </b-button>
        </div>

        <div class="card">
            <div class="table-responsive">
                <table class="table table-striped" width="100%">
                    <thead>
                        <tr>
                            <th width="40" class="d-none d-lg-table-cell">№</th>
                            <th>Ключ / Значение</th>
                            <th width="130" class="d-none d-lg-table-cell">Дата</th>
                            <th class="text-center" v-if="$permission('messages:delete') || $permission('messages:update')">Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, i) in items" :key="item.id">
                            <td class="d-none d-lg-table-cell">{{ item.id }}</td>
                            <td>
                                <div>{{ item.key }}</div>
                                <div class="white-space-normal small">{{ item.message }}</div>
                            </td>
                            <td class="d-none d-lg-table-cell">
                                <div class="small">Изменено {{ item.updated_at | dateTime | lower }}</div>
                                <div class="small">Создано {{ item.created_at | dateTime | lower }}</div>
                            </td>
                            <td class="text-center" v-if="$permission('messages:delete') || $permission('messages:update')">
                                <a v-if="$permission('messages:update')" href="#" title="Редактировать" :class="{'mr-3': !item.is_system}" @click.prevent.stop="editMessage(item)">
                                    <icon>pencil-alt</icon>
                                </a>
                                <a href="#" title="Удалить" class="text-danger" v-if="!item.is_system && $permission('messages:delete')" @click.prevent.stop="confirmRemoving(item)">
                                    <icon>trash-alt</icon>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-body" v-if="$store.state.messages.total > $store.state.messages.perPage">
                <b-pagination v-model="page" :total-rows="$store.state.messages.total" :per-page="$store.state.messages.perPage"></b-pagination>
            </div>
        </div>

        <validation-observer v-slot="{ handleSubmit }">
            <b-modal v-model="modal">
                <template v-slot:modal-title>
                    <template v-if="modalType == 'create'">
                        <icon class="mr-3">plus</icon>
                        Создание строки
                    </template>
                    <template v-else>
                        <icon class="mr-3">pencil-alt</icon>
                        Редактирование строки
                    </template>
                </template>

                <validation-provider :rules="'required|is-unique:messages,key' + (modalType == 'create' ? '' : ',' + modalItem.id)" v-slot="{ errors }">
                    <b-form-group
                            label="Ключ"
                            label-for="key"
                            :invalid-feedback="errors.length ? errors[0] : null"
                            :state="errors.length ? false : null"
                    >
                        <b-form-input id="key"
                                      v-model="modalItem.key"
                                      name="key"
                                      :readonly="modalItem.is_system"
                                      :state="errors.length ? false : null"
                        ></b-form-input>
                    </b-form-group>
                </validation-provider>

                <validation-provider rules="required" v-slot="{ errors }">
                    <b-form-group
                            label="Значение"
                            label-for="message"
                            :invalid-feedback="errors.length ? errors[0] : null"
                            :state="errors.length ? false : null"
                    >
                        <b-form-textarea
                                id="message"
                                name="message"
                                v-model="modalItem.message"
                                rows="3"
                                max-rows="1000"
                        ></b-form-textarea>
                    </b-form-group>
                </validation-provider>

                <template v-slot:modal-footer="{ ok, cancel, hide }">
                    <b-button variant="secondary" @click.prevent.stop="hide()">
                        Закрыть
                    </b-button>
                    <b-button variant="primary" @click.prevent.stop="handleSubmit(saveMessage)">
                        Сохранить
                    </b-button>
                </template>
            </b-modal>
        </validation-observer>

        <b-modal v-model="removeModal" title="">
            <template v-slot:modal-title>
                <icon class="mr-3">trash-alt</icon>
                Удаление строки
            </template>

            <p class="mb-0">Вы действительно хотите удалить строку?</p>

            <template v-slot:modal-footer="{ ok, cancel, hide }">
                <b-button variant="secondary" @click.prevent.stop="hide()">
                    Нет, не удалять
                </b-button>
                <b-button variant="danger" @click.prevent.stop="removeMessage()">
                    Да, удалить
                </b-button>
            </template>
        </b-modal>
    </div>
</template>

<style>
    .white-space-normal {
        white-space: normal !important;
    }
</style>

<script>
    import Icon from '../components/Icon'
    import dateTime from '../filters/dateTime'
    import lower from '../filters/lower'
    import maxLength from '../filters/maxLength'
    import Alert from '../Alert'
    import plural from 'plural-ru'

    export default {
        components: {Icon},
        filters: {dateTime, maxLength, lower, plural},
        metaInfo: {
            title: 'Строки - bankomat.su',
        },
        data() {
            return {
                page: this.$route.query.page || 1,
                modal: false,
                modalType: 'create',
                modalItem: {
                    key: '',
                    message: '',
                    is_system: false,
                },
                items: [],
                removeModal: false,
                toRemove: null,
            }
        },
        created() {
            if (!this.$store.state.auth.user) {
                this.$router.push({ name: 'login' })
            } else if (!this.$permission('messages:browse')) {
                this.$router.push({ name: 'error403' })
            } else {
                this.update().then(items => {
                    if (typeof this.$route.query.action !== 'undefined') {
                        if (this.$route.query.action === 'create') {
                            this.modal = true
                            this.modalType = 'create'
                            this.modalItem = {
                                key: '',
                                message: '',
                                is_system: false,
                            }
                        } else {
                            let message = null
                            for (let item of items) {
                                if (item.id == this.$route.query.id) {
                                    message = item
                                    break
                                }
                            }
                            if (message !== null) {
                                if (this.$route.query.action === 'edit') {
                                    this.modalItem = message
                                    this.modalType = 'edit'
                                    this.modal = true
                                } else if (this.$route.query.action === 'remove') {
                                    this.toRemove = message
                                    this.removeModal = true
                                }
                            }
                        }
                    }
                })
            }
        },
        watch: {
            page(page) {
                this.$router.push({
                    name: 'messages',
                    query: {
                        page,
                    },
                });
                this.$nextTick(() => this.update())
            },
            modal(modal) {
                if (modal == false) {
                    this.resetQuery()
                }
            },
            removeModal(modal) {
                if (modal == false) {
                    this.resetQuery()
                }
            },

        },
        methods: {
            update() {
                return new Promise(resolve => {
                    this.$store
                        .dispatch('messages/page', { page: this.page })
                        .then(items => {
                            this.items = items
                            resolve(items)
                        })
                })
            },
            createMessage() {
                this.$router.push({
                    name: 'messages',
                    query: {
                        page: this.page,
                        action: 'create',
                    },
                })
                this.modalItem = {
                    key: '',
                    message: '',
                    is_system: false,
                }
                this.modalType = 'create'
                this.modal = true
            },
            editMessage(message) {
                this.$router.push({
                    name: 'messages',
                    query: {
                        page: this.page,
                        action: 'edit',
                        id: message.id,
                    },
                })
                this.modalItem = Object.assign({}, message)
                this.modalType = 'edit'
                this.modal = true
            },
            resetQuery() {
                if (typeof this.$route.query.action == 'undefined' &&
                    typeof this.$route.query.id == 'undefined' &&
                    this.$route.query.page == this.page) {
                    return
                }

                this.$router.push({
                    name: 'messages',
                    query: {
                        page: this.page,
                    },
                })
            },
            saveMessage() {
                if (this.modalType == 'create') {
                    this.$store.dispatch('messages/create', this.modalItem)
                        .then(() => {
                            this.modal = false
                            Alert.success('Строка создана')
                            this.update()
                            this.resetQuery()
                        })
                        .catch(Alert.unknownError)
                } else {
                    this.$store.dispatch('messages/update', this.modalItem)
                        .then(() => {
                            this.modal = false
                            Alert.success('Данные обновлены')
                            this.update()
                            this.resetQuery()
                        })
                        .catch(Alert.unknownError)
                }
            },
            confirmRemoving(message) {
                this.$router.push({
                    name: 'messages',
                    query: {
                        page: this.page,
                        action: 'remove',
                        id: message.id,
                    },
                })
                this.toRemove = message
                this.removeModal = true
            },
            removeMessage() {
                this.$store.dispatch('messages/remove', this.toRemove)
                    .then(() => {
                        this.removeModal = false
                        Alert.success('Строка удалёна')
                        this.update()
                        this.resetQuery()
                    })
                    .catch(Alert.unknownError)
            },
        }
    }
</script>
