<template>
    <div>
        <div class="d-block d-lg-flex mb-3">
            <div class="h5 mt-auto mb-auto">
                <icon class="mr-3">file</icon> Страницы
                <span class="small text-muted d-block d-lg-inline-block"" v-if="$store.state.pages.total !== null">
                    {{ items.length | plural('Показана %d страница', 'Показано %d страницы', 'Показано %d страниц') }} из {{ $store.state.pages.total }}
                </span>
            </div>
            <b-button variant="primary" v-if="$permission('pages:create')" size="sm" class="ml-auto mt-3 mt-lg-0" @click.prevent.stop="createPage()">
                <icon class="mr-2">plus</icon>
                Добавить страницу
            </b-button>
        </div>

        <div class="card">
            <div class="table-responsive">
                <table class="table table-striped" width="100%">
                    <thead>
                        <tr>
                            <th width="40" class="d-none d-lg-table-cell">№</th>
                            <th width="600">Название</th>
                            <th class="d-none d-lg-table-cell">Даты</th>
                            <th class="text-center" v-if="$permission('pages:delete') || $permission('pages:update')">Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, i) in items" :key="item.id">
                            <td class="d-none d-lg-table-cell">{{ item.id }}</td>
                            <td style="white-space:normal">
                                <span>{{ item.title }}</span>
                                <div class="small">{{ item.slug }}</div>
                            </td>
                            <td class="d-none d-lg-table-cell">
                                <div class="small">Изменено {{ item.updated_at | dateTime | lower }}</div>
                                <div class="small">Создано {{ item.created_at | dateTime | lower }}</div>
                            </td>
                            <td class="text-center" v-if="$permission('pages:delete') || $permission('pages:update')">
                                <a :href="item.slug" target="_blank" class="mr-3" title="Посмотреть">
                                    <icon>eye</icon>
                                </a>
                                <a v-if="$permission('pages:update')" href="#" title="Редактировать" :class="{'mr-3': !item.is_system}" @click.prevent.stop="editPage(item)">
                                    <icon>pencil-alt</icon>
                                </a>
                                <a href="#" title="Удалить" class="text-danger" v-if="!item.is_system && $permission('pages:delete')" @click.prevent.stop="confirmRemoving(item)">
                                    <icon>trash-alt</icon>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-body" v-if="$store.state.pages.total > $store.state.pages.perPage">
                <b-pagination v-model="page" :total-rows="$store.state.pages.total" :per-page="$store.state.pages.perPage"></b-pagination>
            </div>
        </div>

        <validation-observer v-slot="{ handleSubmit }">
            <b-modal v-model="modal" size="lg">
                <template v-slot:modal-title>
                    <template v-if="modalType == 'create'">
                        <icon class="mr-3">plus</icon>
                        Создание страницы
                    </template>
                    <template v-else>
                        <icon class="mr-3">pencil-alt</icon>
                        Редактирование страницы
                    </template>
                </template>

                <validation-provider rules="required" v-slot="{ errors }">
                    <b-form-group
                            label="Название"
                            label-for="title"
                            :invalid-feedback="errors.length ? errors[0] : null"
                            :state="errors.length ? false : null"
                    >
                        <b-form-input id="title"
                                      v-model="modalItem.title"
                                      name="title"
                                      placeholder="Имя страницы"
                                      @input="onInputTitle"
                                      :state="errors.length ? false : null"
                        ></b-form-input>
                    </b-form-group>
                </validation-provider>

                <validation-provider :rules="'required|slug|is-unique-slug:pages,slug' + (typeof modalItem.id !== 'undefined' ? ',' + modalItem.id : '')" v-slot="{ errors }">
                    <b-form-group
                            label="URL"
                            label-for="slug"
                            :invalid-feedback="errors.length ? errors[0] : null"
                            :state="errors.length ? false : null"
                    >
                        <b-form-input id="slug"
                                      v-model="modalItem.slug"
                                      name="slug"
                                      @input="modalSlugTouched = true"
                                      placeholder="URL"
                                      :readonly="modalItem.is_system"
                                      :state="errors.length ? false : null"

                        ></b-form-input>
                    </b-form-group>
                </validation-provider>

                <b-form-group label="Title" label-for="seo_title">
                    <b-form-input id="seo_title" @input="modalTitleTouched = true" name="seo_title" v-model="modalItem.seo_title" placeholder="Meta Title страницы"></b-form-input>
                </b-form-group>

                <b-form-group label="Description" label-for="seo_description">
                    <b-form-input id="seo_description" name="seo_description" v-model="modalItem.seo_description" placeholder="Meta Description страницы"></b-form-input>
                </b-form-group>

                <b-form-group label="Keywords" label-for="seo_keywords">
                    <b-form-input id="seo_keywords" name="seo_keywords" v-model="modalItem.seo_keywords" placeholder="Meta Keywords страницы"></b-form-input>
                </b-form-group>

                <div class="form-group">
                    <b-form-checkbox id="robots_noindex" v-model="modalItem.robots_noindex" name="robots_noindex">
                        Robots noindex
                    </b-form-checkbox>

                    <b-form-checkbox id="robots_nofollow" v-model="modalItem.robots_nofollow" name="robots_nofollow">
                        Robots nofollow
                    </b-form-checkbox>
                </div>

                <b-form-group label="Текст" label-for="content" v-if="modalItem.is_contentable">
                    <quill id="content" :config="quillConfig" output="html" v-model="modalItem.content"></quill>
                </b-form-group>

                <template v-slot:modal-footer="{ ok, cancel, hide }">
                    <b-button variant="secondary" @click.prevent.stop="hide()">
                        Закрыть
                    </b-button>
                    <b-button variant="primary" @click.prevent.stop="handleSubmit(savePage)">
                        Сохранить
                    </b-button>
                </template>
            </b-modal>
        </validation-observer>

        <b-modal v-model="removeModal" title="">
            <template v-slot:modal-title>
                <icon class="mr-3">trash-alt</icon>
                Удаление страницы
            </template>

            <p class="mb-0">Вы действительно хотите удалить страницу?</p>

            <template v-slot:modal-footer="{ ok, cancel, hide }">
                <b-button variant="secondary" @click.prevent.stop="hide()">
                    Нет, не удалять
                </b-button>
                <b-button variant="danger" @click.prevent.stop="removePage()">
                    Да, удалить
                </b-button>
            </template>
        </b-modal>
    </div>
</template>

<script>
    import Icon from '../components/Icon'
    import dateTime from '../filters/dateTime'
    import slugify from 'slugify'
    import Alert from '../Alert'
    import lower from '../filters/lower'
    import plural from 'plural-ru'

    export default {
        components: {Icon},
        filters: {dateTime, lower, plural},
        metaInfo: {
            title: 'Страницы - bankomat.su',
        },
        data() {
            return {
                page: this.$route.query.page || 1,
                modal: false,
                modalType: 'create',
                modalSlugTouched: false,
                modalTitleTouched: false,
                modalItem: {
                    title: '',
                    slug: '',
                    seo_title: '',
                    seo_description: '',
                    seo_keywords: '',
                    content: '',
                    is_system: false,
                    is_contentable: true,
                    robots_noindex: false,
                    robots_nofollow: false,
                },
                items: [],
                quillConfig: {
                    modules: {
                        toolbar: [
                            [{ header: 1}, {header: 2}],
                            ['bold', 'italic', 'strike', 'underline', 'code'],
                            ['link', 'blockquote', 'code-block', 'image'],
                            [{list: 'ordered'}, {list: 'bullet'}],
                            ['clean'],
                        ]
                    },
                    theme: 'snow'
                },
                removeModal: false,
                toRemove: null,
            }
        },
        created() {
            if (!this.$store.state.auth.user) {
                this.$router.push({ name: 'login' })
            } else if (!this.$permission('pages:browse')) {
                this.$router.push({ name: 'error403' })
            } else {
                this.update().then(items => {
                    if (typeof this.$route.query.action !== 'undefined') {
                        if (this.$route.query.action == 'create') {
                            this.modal = true
                            this.modalType = 'create'
                            this.modalSlugTouched = false
                            this.modalTitleTouched = false
                            this.modalItem = {
                                title: '',
                                slug: '',
                                seo_title: '',
                                seo_description: '',
                                seo_keywords: '',
                                content: '',
                                is_system: false,
                                is_contentable: true,
                                robots_noindex: false,
                                robots_nofollow: false,
                            }
                        } else {
                            let page = null
                            for (let item of items) {
                                if (item.id == this.$route.query.id) {
                                    page = item
                                    break
                                }
                            }
                            if (page !== null) {
                                if (this.$route.query.action == 'edit') {
                                    this.modalItem = page
                                    this.modalType = 'edit'
                                    this.modalSlugTouched = true
                                    this.modalTitleTouched = true
                                    this.modal = true
                                } else if (this.$route.query.action == 'remove') {
                                    this.toRemove = page
                                    this.removeModal = true
                                }
                            }
                        }
                    }
                })
            }
        },
        watch: {
            page(page) {
                this.$router.push({
                    name: 'pages',
                    query: {
                        page,
                    },
                });
                this.$nextTick(() => this.update())
            },
            modal(modal) {
                if (modal == false) {
                    this.resetQuery()
                }
            },
            removeModal(modal) {
                if (modal == false) {
                    this.resetQuery()
                }
            },
        },
        methods: {
            update() {
                return new Promise(resolve => {
                    this.$store
                        .dispatch('pages/page', { page: this.page })
                        .then(items => {
                            this.items = items
                            resolve(items)
                        })
                })
            },
            onInputTitle() {
                if (this.modalSlugTouched == false) {
                    this.modalItem.slug = '/' + slugify(this.modalItem.title).trim('/').toLowerCase()
                }
                if (this.modalTitleTouched == false) {
                    this.modalItem.seo_title = this.modalItem.title
                }
            },
            createPage() {
                this.$router.push({
                    name: 'pages',
                    query: {
                        page: this.page,
                        action: 'create',
                    },
                })
                this.modalItem = {
                    title: '',
                    slug: '',
                    seo_title: '',
                    seo_description: '',
                    seo_keywords: '',
                    content: '',
                    is_system: false,
                    is_contentable: true,
                    robots_noindex: false,
                    robots_nofollow: false,
                }
                this.modalType = 'create'
                this.modalSlugTouched = false
                this.modalTitleTouched = false
                this.modal = true
            },
            editPage(page) {
                this.$router.push({
                    name: 'pages',
                    query: {
                        page: this.page,
                        action: 'edit',
                        id: page.id,
                    },
                })
                this.modalItem = Object.assign({}, page)
                this.modalType = 'edit'
                this.modalSlugTouched = true
                this.modalTitleTouched = true
                this.modal = true
            },
            resetQuery() {
                if (typeof this.$route.query.action == 'undefined' &&
                    typeof this.$route.query.id == 'undefined' &&
                    this.$route.query.page == this.page) {
                    return
                }

                this.$router.push({
                    name: 'pages',
                    query: {
                        page: this.page,
                    },
                })
            },
            savePage() {
                if (this.modalType == 'create') {
                    this.$store.dispatch('pages/create', this.modalItem)
                        .then(() => {
                            this.modal = false
                            Alert.success('Страница создана')
                            this.update()
                            this.resetQuery()
                        })
                        .catch(Alert.unknownError)
                } else {
                    this.$store.dispatch('pages/update', this.modalItem)
                        .then(() => {
                            this.modal = false
                            Alert.success('Данные обновлены')
                            this.update()
                            this.resetQuery()
                        })
                        .catch(Alert.unknownError)
                }
            },
            confirmRemoving(page) {
                this.$router.push({
                    name: 'pages',
                    query: {
                        page: this.page,
                        action: 'remove',
                        id: page.id,
                    },
                })
                this.toRemove = page
                this.removeModal = true
            },
            removePage() {
                this.$store.dispatch('pages/remove', this.toRemove)
                    .then(() => {
                        this.removeModal = false
                        Alert.success('Страница удалена')
                        this.update()
                        this.resetQuery()
                    })
                    .catch(Alert.unknownError)
            },
        }
    }
</script>
