<template>
    <div>
        <div class="d-block d-lg-flex mb-3">
            <div class="h5 mt-auto mb-auto">
                <icon class="mr-3">piggy-bank</icon> Партнёры
                <span class="small text-muted d-block d-lg-inline-block" v-if="$store.state.partners[type].total !== null">
                    {{ items.length | plural('Показан %d партнёр', 'Показано %d партнёра', 'Показано %d партнёров') }} из {{ $store.state.partners[type].total }}
                </span>
            </div>
            <b-button variant="primary" v-if="$permission('partners:create')" size="sm" class="ml-auto mt-3 mt-lg-0" @click.prevent.stop="createPartner()">
                <icon class="mr-2">plus</icon>
                Добавить партнёра
            </b-button>
        </div>

        <div class="card">
            <ul class="nav nav-tabs">
                <li class="nav-item" v-for="item in typeOptions" :key="item.route">
                    <a href="#" :class="{'nav-link': true, active: item.value == type}" @click.prevent.stop="type = item.value">
                        {{ item.text }}
                    </a>
                </li>
            </ul>
            <div class="table-responsive">
                <table class="table table-striped" width="100%">
                    <thead>
                        <tr>
                            <th width="40" class="d-none d-lg-table-cell">№</th>
                            <th>Картинка</th>
                            <th width="600" class="d-none d-lg-table-cell">Название</th>
                            <th class="d-none d-lg-table-cell">Активен?</th>
                            <th width="100" class="text-right d-none d-lg-table-cell" v-if="$permission('statistics:browse')">Кликов</th>
                            <th class="d-none d-lg-table-cell">Даты</th>
                            <th class="text-center" v-if="$permission('partners:delete') || $permission('partners:update')">Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, i) in items" :key="item.id" :class="{ 'table-success': item.is_active }">
                        <td class="d-none d-lg-table-cell">
                            {{ item.id }}
                        </td>
                        <td>
                            <img :src="item.image" class="rounded" style="max-height:40px">
                        </td>
                        <td class="d-none d-lg-table-cell">
                            <span style="white-space:normal">{{ item.name }}</span>
                            <div class="small" v-if="item.link">
                                <a :href="item.link" target="_blank">
                                    {{ item.domain }}
                                    <template v-if="item.external_id !== null && item.external_id !== 0">
                                        № {{ item.external_id }}
                                    </template>
                                </a>
                            </div>
                        </td>
                        <td class="d-none d-lg-table-cell">
                            <span :class="{'text-success': true, 'c-pointer': $permission('partners:update')}" @click.prevent.stop="disablePartner(item)" v-if="item.is_active">
                                <icon class="mr-2">check</icon>
                                Да
                            </span>
                            <span :class="{'text-danger': true, 'c-pointer': $permission('partners:update')}" @click.prevent.stop="enablePartner(item)" v-else>
                                <icon class="mr-2">times</icon>
                                Нет
                            </span>
                        </td>
                        <td v-if="$permission('statistics:browse')" class="text-right d-none d-lg-table-cell">
                            <router-link :to="{ name: 'statistics', query: { partner: item.id } }">
                                {{ item.clicks_counter }}
                            </router-link>
                        </td>
                        <td class="d-none d-lg-table-cell">
                            <div class="small">Изменено {{ item.updated_at | dateTime | lower }}</div>
                            <div class="small">Создано {{ item.created_at | dateTime | lower }}</div>
                        </td>
                        <td class="text-center" v-if="$permission('partners:delete') || $permission('partners:update')">
                            <a v-if="$permission('partners:update')" href="#" title="Редактировать" class="mr-3" @click.prevent.stop="editPartner(item)">
                                <icon>pencil-alt</icon>
                            </a>
                            <a v-if="$permission('partners:delete')" href="#" title="Удалить" class="text-danger" @click.prevent.stop="confirmRemoving(item)">
                                <icon>trash-alt</icon>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-body" v-if="$store.state.partners[type].total > $store.state.partners[type].perPage">
                <b-pagination v-model="page" :total-rows="$store.state.partners[type].total" :per-page="$store.state.partners[type].perPage"></b-pagination>
            </div>
        </div>

        <validation-observer v-slot="{ handleSubmit }">
            <b-modal v-model="modal" size="lg">
                <template v-slot:modal-title>
                    <template v-if="modalType == 'create'">
                        <icon class="mr-3">plus</icon>
                        Создание партнёра
                    </template>
                    <template v-else>
                        <icon class="mr-3">pencil-alt</icon>
                        Редактирование партнёра
                    </template>
                </template>

                <validation-provider rules="required" v-slot="{ errors }">
                    <b-form-group
                            label="Тип"
                            label-for="type"
                            :invalid-feedback="errors.length ? errors[0] : null"
                            :state="errors.length ? false : null"
                    >
                        <custom-select
                                id="type"
                                v-model="modalItem.type"
                                name="type"
                                placeholder="Выберите тип"
                                :options="typeOptions"
                        ></custom-select>
                    </b-form-group>
                </validation-provider>

                <b-form-group label="Внешний ID" label-for="external_id">
                    <b-form-input id="external_id"
                                  v-model="modalItem.external_id"
                                  name="external_id"
                                  placeholder="Внешний ID"
                                  type="number"
                    ></b-form-input>
                </b-form-group>

                <div class="form-group">
                    <b-form-checkbox id="is_active" v-model="modalItem.is_active" name="is_active">
                        Активен?
                    </b-form-checkbox>
                </div>

                <validation-provider rules="required" v-slot="{ errors }">
                    <b-form-group
                            label="Название"
                            label-for="name"
                            :invalid-feedback="errors.length ? errors[0] : null"
                            :state="errors.length ? false : null"
                    >
                        <b-form-input id="name"
                                      v-model="modalItem.name"
                                      name="name"
                                      placeholder="Название"
                                      :state="errors.length ? false : null"
                        ></b-form-input>
                    </b-form-group>
                </validation-provider>

                <validation-provider rules="required" v-slot="{ errors }">
                    <image-input
                            v-model="modalItem.image"
                            :error="errors.length ? errors[0] : null"
                            :aspect-ratio="modalItem.type == 'card' ? 300/190 : 143/59"
                            :type="modalItem.type == 'card' ? 'card' : 'partner'"
                    ></image-input>
                </validation-provider>

                <validation-provider rules="required" v-slot="{ errors }">
                    <b-form-group
                            :label="'Ставка (' + (modalItem.type == 'loan' ? 'в день' : 'в год') + ')'"
                            label-for="rate"
                            :invalid-feedback="errors.length ? errors[0] : null"
                            :state="errors.length ? false : null"
                    >
                        <percent-input id="rate"
                                       v-model="modalItem.rate"
                                       name="rate"
                                       :placeholder="'Ставка (' + (modalItem.type == 'loan' ? 'в день' : 'в год') + ')'"
                                       :class="{'form-control': true, 'is-invalid': errors.length > 0}"
                        ></percent-input>
                    </b-form-group>
                </validation-provider>

                <div class="row">
                    <div class="col-12 col-lg-6" v-if="modalItem.type !== 'card'">
                        <validation-provider rules="required" v-slot="{ errors }">
                            <b-form-group
                                    label="Минимальная сумма кредита"
                                    label-for="min"
                                    :invalid-feedback="errors.length ? errors[0] : null"
                                    :state="errors.length ? false : null"
                            >
                                <vue-number-input v-model="modalItem.min"
                                                  :attrs="{id: 'min', name: 'min'}"
                                                  :min="0"
                                                  :step="100"
                                                  controls
                                ></vue-number-input>
                            </b-form-group>
                        </validation-provider>
                    </div>
                    <div :class="modalItem.type == 'card' ? 'col-12' : 'col-12 col-lg-6'">
                        <validation-provider rules="required" v-slot="{ errors }">
                            <b-form-group
                                    :label="modalItem.type == 'card' ? 'Лимит' : 'Максимальная сумма кредита'"
                                    label-for="max"
                                    :invalid-feedback="errors.length ? errors[0] : null"
                                    :state="errors.length ? false : null"
                            >
                                <vue-number-input v-model="modalItem.max"
                                                  :attrs="{id: 'max', name: 'max'}"
                                                  :min="0"
                                                  :step="100"
                                                  controls
                                ></vue-number-input>
                            </b-form-group>
                        </validation-provider>
                    </div>
                </div>

                <div class="row" v-if="modalItem.type !== 'card'">
                    <div class="col-12 col-lg-6">
                        <b-form-group label="Минимальный возраст" label-for="min_age">
                            <vue-number-input v-model="modalItem.min_age"
                                              :attrs="{id: 'min_age', name: 'min_age'}"
                                              :min="0"
                                              controls
                            ></vue-number-input>
                        </b-form-group>
                    </div>
                    <div class="col-12 col-lg-6">
                        <b-form-group label="Максимальный возраст" label-for="max_age">
                            <vue-number-input v-model="modalItem.max_age"
                                              :attrs="{id: 'max_age', name: 'max_age'}"
                                              :min="0"
                                              controls
                            ></vue-number-input>
                        </b-form-group>
                    </div>
                </div>

                <div class="row" v-if="modalItem.type !== 'card'">
                    <div class="col-12 col-lg-6">
                        <b-form-group :label="'Минимальный срок (' + (modalItem.type == 'loan' ? 'дни' : 'месяцы') + ')'" label-for="min_term">
                            <vue-number-input v-model="modalItem.min_term"
                                              :attrs="{id: 'min_term', name: 'min_term'}"
                                              :min="0"
                                              controls
                            ></vue-number-input>
                        </b-form-group>
                    </div>
                    <div class="col-12 col-lg-6">
                        <b-form-group :label="'Максимальный срок (' + (modalItem.type == 'loan' ? 'дни' : 'месяцы') + ')'" label-for="max_term">
                            <vue-number-input v-model="modalItem.max_term"
                                              :attrs="{id: 'max_term', name: 'max_term'}"
                                              :min="0"
                                              controls
                            ></vue-number-input>
                        </b-form-group>
                    </div>
                </div>

                <b-form-group v-if="modalItem.type == 'card'" label="Льготный периуд (дней)" label-for="grace_period">
                    <vue-number-input v-model="modalItem.grace_period"
                                      :attrs="{id: 'grace_period', name: 'grace_period'}"
                                      :min="0"
                                      controls
                    ></vue-number-input>
                </b-form-group>

                <b-form-group label="Ссылка" label-for="link">
                    <b-form-input id="link" v-model="modalItem.link" name="link" placeholder="Ссылка"></b-form-input>
                </b-form-group>

                <b-form-group v-if="$permission('payment_systems:browse') && 'loan' == modalItem.type" label="Способы получения денег" label-for="payment_systems">
                    <custom-select
                            :multiple="true"
                            id="payment_systems"
                            v-model="modalItem.payment_systems"
                            name="payment_systems"
                            :options="paymentSystemsOptions"
                            :loading="loadingPaymentSystems"
                            placeholder="Выберите способы получения денег"
                    ></custom-select>
                </b-form-group>

                <template v-slot:modal-footer="{ ok, cancel, hide }">
                    <b-button variant="secondary" @click.prevent.stop="hide()">
                        Закрыть
                    </b-button>
                    <b-button variant="primary" @click.prevent.stop="handleSubmit(savePartner)">
                        Сохранить
                    </b-button>
                </template>
            </b-modal>
        </validation-observer>

        <b-modal v-model="removeModal" title="">
            <template v-slot:modal-title>
                <icon class="mr-3">trash-alt</icon>
                Удаление партнёра
            </template>

            <p class="mb-0">Вы действительно хотите удалить партнёра?</p>

            <template v-slot:modal-footer="{ ok, cancel, hide }">
                <b-button variant="secondary" @click.prevent.stop="hide()">
                    Нет, не удалять
                </b-button>
                <b-button variant="danger" @click.prevent.stop="removePartner()">
                    Да, удалить
                </b-button>
            </template>
        </b-modal>
    </div>
</template>

<script>
    import Icon from '../components/Icon'
    import dateTime from '../filters/dateTime'
    import lower from '../filters/lower'
    import Alert from '../Alert'
    import { PercentInput } from 'vue-percent-input'
    import ImageInput from '../components/ImageInput'
    import VueNumberInput from '@chenfengyuan/vue-number-input'
    import axios from 'axios'
    import CustomSelect from '../components/CustomSelect'
    import plural from 'plural-ru'
    import domain from '../filters/domain'

    export default {
        components: {Icon, ImageInput, PercentInput, VueNumberInput, CustomSelect},
        filters: {dateTime, lower, plural, domain},
        metaInfo: {
            title: 'Партнёры - bankomat.su',
        },
        data() {
            return {
                page: this.$route.query.page || 1,
                type: this.$route.query.type || 'loan',
                modal: false,
                confirmHideModal: false,
                modalType: 'create',
                modalItem: {
                    name: '',
                    image: null,
                    rate: null,
                    min: null,
                    max: null,
                    min_age: null,
                    max_age: null,
                    min_term: null,
                    max_term: null,
                    link: '',
                    type: null,
                    grace_period: null,
                    payment_systems: [],
                    is_active: true,
                    external_id: null,
                },
                typeOptions: [
                    { value: 'loan', text: 'Микрозайм' },
                    { value: 'cash', text: 'Кредит наличными' },
                    { value: 'card', text: 'Кредитная карта' },
                    { value: 'refinance', text: 'Рефинансирование' },
                ],
                loadingPaymentSystems: true,
                paymentSystemsOptions: [],
                items: [],
                removeModal: false,
                toRemove: null,
            }
        },
        created() {
            if (!this.$store.state.auth.user) {
                this.$router.push({ name: 'login' })
            } else if (!this.$permission('partners:browse')) {
                this.$router.push({ name: 'error403' })
            } else {
                if (this.$permission('payment_systems:browse')) {
                    axios.get('/api/payment-systems/select').then(({data}) => {
                        this.paymentSystemsOptions = data.data.map(el => ({
                            value: el.id,
                            text: el.name,
                        }))
                        this.loadingPaymentSystems = false
                    })
                }
                this.update().then(items => {
                    if (typeof this.$route.query.action !== 'undefined') {
                        if (this.$route.query.action == 'create') {
                            this.modal = true
                            this.modalType = 'create'
                            this.modalItem = {
                                name: '',
                                image: null,
                                rate: null,
                                min: null,
                                max: null,
                                min_age: null,
                                max_age: null,
                                min_term: null,
                                max_term: null,
                                link: '',
                                type: this.type,
                                grace_period: null,
                                is_active: true,
                                external_id: null,
                                payment_systems: [],
                            }
                        } else {
                            let page = null
                            for (let item of items) {
                                if (item.id == this.$route.query.id) {
                                    page = item
                                    break
                                }
                            }
                            if (page !== null) {
                                if (this.$route.query.action == 'edit') {
                                    this.modalItem = page
                                    this.modalType = 'edit'
                                    this.modal = true
                                } else if (this.$route.query.action == 'remove') {
                                    this.toRemove = page
                                    this.removeModal = true
                                }
                            }
                        }
                    }
                })
            }
        },
        watch: {
            page(page) {
                this.$router.push({
                    name: 'partners',
                    query: {
                        page,
                        type: this.type,
                    },
                });
                this.$nextTick(() => this.update())
            },
            type(type) {
                this.$router.push({
                    name: 'partners',
                    query: {
                        page: 1,
                        type,
                    },
                });
                this.$nextTick(() => this.update())
            },
            modal(modal) {
                if (modal == false) {
                    this.resetQuery()
                }
            },
            removeModal(modal) {
                if (modal == false) {
                    this.resetQuery()
                }
            },

        },
        methods: {
            update() {
                return new Promise(resolve => {
                    this.$store
                        .dispatch('partners/page', { page: this.page, type: this.type })
                        .then(items => {
                            this.items = items
                            resolve(items)
                        })
                })
            },
            createPartner() {
                this.$router.push({
                    name: 'partners',
                    query: {
                        page: this.page,
                        action: 'create',
                        type: this.type,
                    },
                })
                this.modalItem = {
                    title: '',
                    name: '',
                    image: null,
                    rate: null,
                    min: null,
                    max: null,
                    min_age: null,
                    max_age: null,
                    min_term: null,
                    max_term: null,
                    link: '',
                    type: this.type,
                    is_active: true,
                    external_id: null,
                    grace_period: null,
                    payment_systems: [],
                }
                this.modalType = 'create'
                this.modal = true
            },
            editPartner(post) {
                this.$router.push({
                    name: 'partners',
                    query: {
                        page: this.page,
                        action: 'edit',
                        id: post.id,
                        type: this.type,
                    },
                })
                this.modalItem = Object.assign({}, post)
                this.modalType = 'edit'
                this.modal = true
            },
            resetQuery() {
                if (typeof this.$route.query.action == 'undefined' &&
                    typeof this.$route.query.id == 'undefined' &&
                    this.$route.query.page == this.page) {
                    return
                }

                this.$router.push({
                    name: 'partners',
                    query: {
                        page: this.page,
                        type: this.type,
                    },
                })
            },
            savePartner() {
                if (this.modalType == 'create') {
                    this.$store.dispatch('partners/create', this.modalItem)
                        .then(() => {
                            this.modal = false
                            Alert.success('Партнёр создан')
                            this.update()
                            this.resetQuery()
                        })
                        .catch(Alert.unknownError)
                } else {
                    this.$store.dispatch('partners/update', this.modalItem)
                        .then(() => {
                            this.modal = false
                            Alert.success('Данные обновлены')
                            this.update()
                            this.resetQuery()
                        })
                        .catch(Alert.unknownError)
                }
            },
            enablePartner(partner) {
                if (!this.$permission('partners:update')) {
                    return
                }
                partner.is_active = true
                this.$store.dispatch('partners/update', partner)
                    .then(() => {
                        Alert.success('Партнёр активирован')
                        this.update()
                    })
                    .catch(Alert.unknownError)
            },
            disablePartner(partner) {
                if (!this.$permission('partners:update')) {
                    return
                }
                partner.is_active = false
                this.$store.dispatch('partners/update', partner)
                    .then(() => {
                        Alert.success('Партнёр отключен')
                        this.update()
                    })
                    .catch(Alert.unknownError)
            },
            confirmRemoving(page) {
                this.$router.push({
                    name: 'partners',
                    query: {
                        page: this.page,
                        action: 'remove',
                        id: page.id,
                    },
                })
                this.toRemove = page
                this.removeModal = true
            },
            removePartner() {
                this.$store.dispatch('partners/remove', this.toRemove)
                    .then(() => {
                        this.removeModal = false
                        Alert.success('Партнёр удалён')
                        this.update()
                        this.resetQuery()
                    })
                    .catch(Alert.unknownError)
            },
        }
    }
</script>
