<template>
    <div>
        <div class="d-block d-lg-flex mb-3">
            <div class="h5 mt-auto mb-auto">
                <icon class="mr-3">thumbs-up</icon> Отзывы
                <span class="small text-muted d-block d-lg-inline-block" v-if="$store.state.reviews.total !== null">
                    {{ items.length | plural('Показан %d отзыв', 'Показано %d отзыва', 'Показано %d отзывов') }} из {{ $store.state.reviews.total }}
                </span>
            </div>
            <b-button variant="primary" v-if="$permission('reviews:create')" size="sm" class="ml-auto mt-3 mt-lg-0" @click.prevent.stop="createReview()">
                <icon class="mr-2">plus</icon>
                Добавить отзыв
            </b-button>
        </div>

        <div class="card">
            <div class="table-responsive">
                <table class="table table-striped" width="100%">
                    <thead>
                        <tr>
                            <th width="40" class="d-none d-lg-table-cell">№</th>
                            <th width="100" class="d-none d-lg-table-cell">Фото</th>
                            <th width="330">Оценка</th>
                            <th class="d-none d-lg-table-cell">Даты</th>
                            <th class="text-center" v-if="$permission('reviews:delete') || $permission('reviews:update')">Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, i) in items" :key="item.id">
                            <td class="d-none d-lg-table-cell">{{ item.id }}</td>
                            <td class="d-none d-lg-table-cell"><img :src="item.image" style="max-width:40px" class="rounded-circle"></td>
                            <td>
                                <img :src="item.image" style="max-width:40px" class="rounded-circle d-block d-lg-none">
                                <span>{{ item.name }}</span>
                                <div class="stars text-warning">
                                    <i class="fas fa-star" v-for="i in item.rating" :key="i"></i>
                                </div>
                                <span class="text-muted d-none d-lg-block">{{ item.review | maxLength(30) }}</span>
                            </td>
                            <td class="d-none d-lg-table-cell">
                                <div class="small">Изменено {{ item.updated_at | dateTime | lower }}</div>
                                <div class="small">Создано {{ item.created_at | dateTime | lower }}</div>
                            </td>
                            <td class="text-center" v-if="$permission('reviews:delete') || $permission('reviews:update')">
                                <a v-if="$permission('reviews:update')" href="#" title="Редактировать" class="mr-3" @click.prevent.stop="editReview(item)">
                                    <icon>pencil-alt</icon>
                                </a>
                                <a v-if="$permission('reviews:delete')" href="#" title="Удалить" class="text-danger" @click.prevent.stop="confirmRemoving(item)">
                                    <icon>trash-alt</icon>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-body" v-if="$store.state.reviews.total > $store.state.reviews.perPage">
                <b-pagination v-model="page" :total-rows="$store.state.reviews.total" :per-page="$store.state.reviews.perPage"></b-pagination>
            </div>
        </div>

        <validation-observer v-slot="{ handleSubmit }">
            <b-modal v-model="modal">
                <template v-slot:modal-title>
                    <template v-if="modalType == 'create'">
                        <icon class="mr-3">plus</icon>
                        Создание отзыва
                    </template>
                    <template v-else>
                        <icon class="mr-3">pencil-alt</icon>
                        Редактирование отзыва
                    </template>
                </template>

                <validation-provider rules="required" v-slot="{ errors }">
                    <b-form-group
                            label="Звёзд"
                            label-for="rating"
                            :invalid-feedback="errors.length ? errors[0] : null"
                            :state="errors.length ? false : null"
                    >
                        <rating-input id="rating" v-model="modalItem.rating" name="rating"></rating-input>
                    </b-form-group>
                </validation-provider>

                <validation-provider rules="required" v-slot="{ errors }">
                    <b-form-group
                            label="Имя"
                            label-for="name"
                            :invalid-feedback="errors.length ? errors[0] : null"
                            :state="errors.length ? false : null"
                    >
                        <b-form-input id="name"
                                      v-model="modalItem.name"
                                      name="name"
                                      :state="errors.length ? false : null"
                        ></b-form-input>
                    </b-form-group>
                </validation-provider>

                <validation-provider rules="required" v-slot="{ errors }">
                    <b-form-group
                            label="Отзыв"
                            label-for="review"
                            :invalid-feedback="errors.length ? errors[0] : null"
                            :state="errors.length ? false : null"
                    >
                        <b-form-textarea
                                id="review"
                                name="review"
                                v-model="modalItem.review"
                                rows="3"
                                max-rows="1000"
                        ></b-form-textarea>
                    </b-form-group>
                </validation-provider>

                <validation-provider rules="required" v-slot="{ errors }">
                    <image-input
                            v-model="modalItem.image"
                            :error="errors.length ? errors[0] : null"
                            type="avatar"
                    ></image-input>
                </validation-provider>

                <template v-slot:modal-footer="{ ok, cancel, hide }">
                    <b-button variant="secondary" @click.prevent.stop="hide()">
                        Закрыть
                    </b-button>
                    <b-button variant="primary" @click.prevent.stop="handleSubmit(saveReview)">
                        Сохранить
                    </b-button>
                </template>
            </b-modal>
        </validation-observer>

        <b-modal v-model="removeModal" title="">
            <template v-slot:modal-title>
                <icon class="mr-3">trash-alt</icon>
                Удаление отзыва
            </template>

            <p class="mb-0">Вы действительно хотите удалить отзыв?</p>

            <template v-slot:modal-footer="{ ok, cancel, hide }">
                <b-button variant="secondary" @click.prevent.stop="hide()">
                    Нет, не удалять
                </b-button>
                <b-button variant="danger" @click.prevent.stop="removeReview()">
                    Да, удалить
                </b-button>
            </template>
        </b-modal>
    </div>
</template>

<script>
    import Icon from '../components/Icon'
    import dateTime from '../filters/dateTime'
    import maxLength from '../filters/maxLength'
    import lower from '../filters/lower'
    import Alert from '../Alert'
    import ImageInput from '../components/ImageInput'
    import RatingInput from '../components/RatingInput'
    import plural from 'plural-ru'

    export default {
        components: {ImageInput, Icon, RatingInput},
        filters: {dateTime, maxLength, lower, plural},
        metaInfo: {
            title: 'Отзывы - bankomat.su',
        },
        data() {
            return {
                page: this.$route.query.page || 1,
                modal: false,
                modalType: 'create',
                modalItem: {
                    name: '',
                    review: '',
                    image: '',
                    rating: 5,
                },
                items: [],
                removeModal: false,
                toRemove: null,
            }
        },
        created() {
            if (!this.$store.state.auth.user) {
                this.$router.push({ name: 'login' })
            } else if (!this.$permission('reviews:browse')) {
                this.$router.push({ name: 'error403' })
            } else {
                this.update().then(items => {
                    if (typeof this.$route.query.action !== 'undefined') {
                        if (this.$route.query.action === 'create') {
                            this.modal = true
                            this.modalType = 'create'
                            this.modalItem = {
                                name: '',
                                review: '',
                                image: '',
                                rating: 5,
                            }
                        } else {
                            let review = null
                            for (let item of items) {
                                if (item.id == this.$route.query.id) {
                                    review = item
                                    break
                                }
                            }
                            if (review !== null) {
                                if (this.$route.query.action === 'edit') {
                                    this.modalItem = review
                                    this.modalType = 'edit'
                                    this.modal = true
                                } else if (this.$route.query.action === 'remove') {
                                    this.toRemove = review
                                    this.removeModal = true
                                }
                            }
                        }
                    }
                })
            }
        },
        watch: {
            page(page) {
                this.$router.push({
                    name: 'reviews',
                    query: {
                        page,
                    },
                });
                this.$nextTick(() => this.update())
            },
            modal(modal) {
                if (modal == false) {
                    this.resetQuery()
                }
            },
            removeModal(modal) {
                if (modal == false) {
                    this.resetQuery()
                }
            },

        },
        methods: {
            update() {
                return new Promise(resolve => {
                    this.$store
                        .dispatch('reviews/page', { page: this.page })
                        .then(items => {
                            this.items = items
                            resolve(items)
                        })
                })
            },
            createReview() {
                this.$router.push({
                    name: 'reviews',
                    query: {
                        page: this.page,
                        action: 'create',
                    },
                })
                this.modalItem = {
                    name: '',
                    review: '',
                    image: '',
                    rating: 5,
                }
                this.modalType = 'create'
                this.modal = true
            },
            editReview(review) {
                this.$router.push({
                    name: 'reviews',
                    query: {
                        page: this.page,
                        action: 'edit',
                        id: review.id,
                    },
                })
                this.modalItem = Object.assign({}, review)
                this.modalType = 'edit'
                this.modal = true
            },
            resetQuery() {
                if (typeof this.$route.query.action == 'undefined' &&
                    typeof this.$route.query.id == 'undefined' &&
                    this.$route.query.page == this.page) {
                    return
                }

                this.$router.push({
                    name: 'reviews',
                    query: {
                        page: this.page,
                    },
                })
            },
            saveReview() {
                if (this.modalType == 'create') {
                    this.$store.dispatch('reviews/create', this.modalItem)
                        .then(() => {
                            this.modal = false
                            Alert.success('Отзыв создан')
                            this.update()
                            this.resetQuery()
                        })
                        .catch(Alert.unknownError)
                } else {
                    this.$store.dispatch('reviews/update', this.modalItem)
                        .then(() => {
                            this.modal = false
                            Alert.success('Данные обновлены')
                            this.update()
                            this.resetQuery()
                        })
                        .catch(Alert.unknownError)
                }
            },
            confirmRemoving(page) {
                this.$router.push({
                    name: 'reviews',
                    query: {
                        page: this.page,
                        action: 'remove',
                        id: page.id,
                    },
                })
                this.toRemove = page
                this.removeModal = true
            },
            removeReview() {
                this.$store.dispatch('reviews/remove', this.toRemove)
                    .then(() => {
                        this.removeModal = false
                        Alert.success('Отзыв удалён')
                        this.update()
                        this.resetQuery()
                    })
                    .catch(Alert.unknownError)
            },
        }
    }
</script>
