<template>
    <div>
        <div class="d-block d-lg-flex mb-3">
            <div class="h5 mt-auto mb-auto">
                <icon class="mr-3">award</icon> Роли
                <span class="small text-muted d-block d-lg-inline-block" v-if="$store.state.roles.total !== null">
                    {{ items.length | plural('Показана %d роль', 'Показано %d роли', 'Показано %d ролей') }} из {{ $store.state.roles.total }}
                </span>
            </div>
            <b-button variant="primary" v-if="$permission('roles:create')" size="sm" class="ml-auto mt-3 mt-lg-0" @click.prevent.stop="createRole()">
                <icon class="mr-2">plus</icon>
                Добавить роль
            </b-button>
        </div>

        <div class="card">
            <div class="table-responsive">
                <table class="table table-striped" width="100%">
                    <thead>
                        <tr>
                            <th width="40" class="d-none d-lg-table-cell">№</th>
                            <th width="600">Имя</th>
                            <th class="d-none d-lg-table-cell">Даты</th>
                            <th class="text-center" v-if="$permission('roles:delete') || $permission('roles:update')">Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, i) in items" :key="item.id">
                            <td class="d-none d-lg-table-cell">{{ item.id }}</td>
                            <td>
                                <span>{{ item.name }}</span>
                                <div class="small">{{ item.slug }}</div>
                            </td>
                            <td class="d-none d-lg-table-cell">
                                <div class="small">Изменено {{ item.updated_at | dateTime | lower }}</div>
                                <div class="small">Создано {{ item.created_at | dateTime | lower }}</div>
                            </td>
                            <td class="text-center" v-if="$permission('roles:delete') || $permission('roles:update')">
                                <a v-if="$permission('roles:update') && item.level < $store.state.auth.user.level" href="#" title="Редактировать" class="mr-3" @click.prevent.stop="editRole(item)">
                                    <icon>pencil-alt</icon>
                                </a>
                                <a v-if="$permission('roles:delete') && item.level < $store.state.auth.user.level" href="#" title="Удалить" class="text-danger" @click.prevent.stop="confirmRemoving(item)">
                                    <icon>trash-alt</icon>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-body" v-if="$store.state.roles.total > $store.state.roles.perPage">
                <b-pagination v-model="page" :total-rows="$store.state.roles.total" :per-page="$store.state.roles.perPage"></b-pagination>
            </div>
        </div>

        <validation-observer v-slot="{ handleSubmit }">
            <b-modal v-model="modal" size="lg">
                <template v-slot:modal-title>
                    <template v-if="modalType == 'create'">
                        <icon class="mr-3">plus</icon>
                        Создание роли
                    </template>
                    <template v-else>
                        <icon class="mr-3">pencil-alt</icon>
                        Редактирование роли
                    </template>
                </template>

                <validation-provider rules="required" v-slot="{ errors }">
                    <b-form-group
                            label="Название"
                            label-for="name"
                            :invalid-feedback="errors.length ? errors[0] : null"
                            :state="errors.length ? false : null"
                    >
                        <b-form-input id="name"
                                      v-model="modalItem.name"
                                      name="name"
                                      @input="generateSlug"
                                      :state="errors.length ? false : null"
                        ></b-form-input>
                    </b-form-group>
                </validation-provider>

                <validation-provider :rules="'required|is-unique:roles,slug' + (modalType == 'create' ? '' : ',' + modalItem.id)" v-slot="{ errors }">
                    <b-form-group
                            label="Идентификатор"
                            label-for="slug"
                            :invalid-feedback="errors.length ? errors[0] : null"
                            :state="errors.length ? false : null"
                    >
                        <b-form-input id="slug"
                                      v-model="modalItem.slug"
                                      @input="modalSlugTouched = true"
                                      name="slug"
                                      :state="errors.length ? false : null"
                        ></b-form-input>
                    </b-form-group>
                </validation-provider>

                <b-form-group label="Уровень" label-for="level">
                    <vue-number-input v-model="modalItem.level"
                                      :attrs="{id: 'level', name: 'level'}"
                                      :min="0"
                                      :max="$store.state.auth.user.level - 1"
                                      controls
                    ></vue-number-input>
                </b-form-group>

                <div class="row">
                    <div class="col-12 col-lg-4 mb-3" v-for="(p, group) in permissions" :key="group">
                        <h4 v-text="group"></h4>

                        <b-form-checkbox
                                v-for="permission in p"
                                :key="permission.id"
                                v-model="modalItem.permissions"
                                :value="permission.id"
                        >
                            {{ permission.name }}
                        </b-form-checkbox>
                    </div>
                </div>

                <template v-slot:modal-footer="{ ok, cancel, hide }">
                    <b-button variant="secondary" @click.prevent.stop="hide()">
                        Закрыть
                    </b-button>
                    <b-button variant="primary" @click.prevent.stop="handleSubmit(saveRole)">
                        Сохранить
                    </b-button>
                </template>
            </b-modal>
        </validation-observer>

        <b-modal v-model="removeModal" title="">
            <template v-slot:modal-title>
                <icon class="mr-3">trash-alt</icon>
                Удаление роли
            </template>

            <p class="mb-0">Вы действительно хотите удалить роль?</p>

            <template v-slot:modal-footer="{ ok, cancel, hide }">
                <b-button variant="secondary" @click.prevent.stop="hide()">
                    Нет, не удалять
                </b-button>
                <b-button variant="danger" @click.prevent.stop="removeFaq()">
                    Да, удалить
                </b-button>
            </template>
        </b-modal>
    </div>
</template>

<script>
    import Icon from '../components/Icon'
    import dateTime from '../filters/dateTime'
    import maxLength from '../filters/maxLength'
    import slugify from 'slugify'
    import lower from '../filters/lower'
    import Alert from '../Alert'
    import VueNumberInput from '@chenfengyuan/vue-number-input'
    import plural from 'plural-ru'

    export default {
        components: {Icon, VueNumberInput},
        filters: {dateTime, maxLength, lower, plural},
        metaInfo: {
            title: 'Роли - bankomat.su',
        },
        data() {
            return {
                page: this.$route.query.page || 1,
                modal: false,
                modalType: 'create',
                modalSlugTouched: false,
                modalItem: {
                    slug: '',
                    name: '',
                    level: 0,
                    permissions: [],
                },
                items: [],
                removeModal: false,
                toRemove: null,
                permissions: {},
            }
        },
        created() {
            if (!this.$store.state.auth.user) {
                this.$router.push({ name: 'login' })
            } else if (!this.$permission('roles:browse')) {
                this.$router.push({ name: 'error403' })
            } else {
                this.$store.dispatch('permissions/get').then(permissions => {
                    let result = {};
                    for (let permission of permissions) {
                        if (this.$store.state.auth.user.permissions.includes(permission.slug)) {
                            if (typeof result[permission.group] == 'undefined') {
                                result[permission.group] = [];
                            }
                            result[permission.group].push(permission)
                        }
                    }
                    this.permissions = result
                })
                this.update().then(items => {
                    if (typeof this.$route.query.action !== 'undefined') {
                        if (this.$route.query.action === 'create') {
                            this.modal = true
                            this.modalType = 'create'
                            this.modalSlugTouched = false
                            this.modalItem = {
                                slug: '',
                                name: '',
                                level: 0,
                                permissions: [],
                            }
                        } else {
                            let role = null
                            for (let item of items) {
                                if (item.id == this.$route.query.id) {
                                    role = item
                                    break
                                }
                            }
                            if (role !== null) {
                                if (this.$route.query.action === 'edit') {
                                    this.modalItem = role
                                    this.modalType = 'edit'
                                    this.modalSlugTouched = true
                                    this.modal = true
                                } else if (this.$route.query.action === 'remove') {
                                    this.toRemove = role
                                    this.removeModal = true
                                }
                            }
                        }
                    }
                })
            }
        },
        watch: {
            page(page) {
                this.$router.push({
                    name: 'roles',
                    query: {
                        page,
                    },
                });
                this.$nextTick(() => this.update())
            },
            modal(modal) {
                if (modal == false) {
                    this.resetQuery()
                }
            },
            removeModal(modal) {
                if (modal == false) {
                    this.resetQuery()
                }
            },

        },
        methods: {
            update() {
                return new Promise(resolve => {
                    this.$store
                        .dispatch('roles/page', { page: this.page })
                        .then(items => {
                            this.items = items
                            resolve(items)
                        })
                })
            },
            createRole() {
                this.$router.push({
                    name: 'roles',
                    query: {
                        page: this.page,
                        action: 'create',
                    },
                })
                this.modalSlugTouched = false
                this.modalItem = {
                    slug: '',
                    name: '',
                    level: 0,
                    permissions: [],
                }
                this.modalType = 'create'
                this.modal = true
            },
            editRole(faq) {
                this.$router.push({
                    name: 'roles',
                    query: {
                        page: this.page,
                        action: 'edit',
                        id: faq.id,
                    },
                })
                this.modalSlugTouched = true
                this.modalItem = Object.assign({}, faq)
                this.modalType = 'edit'
                this.modal = true
            },
            resetQuery() {
                if (typeof this.$route.query.action == 'undefined' &&
                    typeof this.$route.query.id == 'undefined' &&
                    this.$route.query.page == this.page) {
                    return
                }

                this.$router.push({
                    name: 'roles',
                    query: {
                        page: this.page,
                    },
                })
            },
            saveRole() {
                if (this.modalType == 'create') {
                    this.$store.dispatch('roles/create', this.modalItem)
                        .then(() => {
                            this.modal = false
                            Alert.success('Роль создана')
                            this.update()
                            this.resetQuery()
                        })
                        .catch(Alert.unknownError)
                } else {
                    this.$store.dispatch('roles/update', this.modalItem)
                        .then(() => {
                            this.modal = false
                            Alert.success('Данные обновлены')
                            this.update()
                            this.resetQuery()
                        })
                        .catch(Alert.unknownError)
                }
            },
            confirmRemoving(page) {
                this.$router.push({
                    name: 'roles',
                    query: {
                        page: this.page,
                        action: 'remove',
                        id: page.id,
                    },
                })
                this.toRemove = page
                this.removeModal = true
            },
            removeFaq() {
                this.$store.dispatch('roles/remove', this.toRemove)
                    .then(() => {
                        this.removeModal = false
                        Alert.success('Роль удалёна')
                        this.update()
                        this.resetQuery()
                    })
                    .catch(Alert.unknownError)
            },
            generateSlug() {
                if (this.modalSlugTouched == false) {
                    this.modalItem.slug = slugify(this.modalItem.name).toLowerCase()
                }
            },
        }
    }
</script>
