<template>
    <div>
        <div class="d-block d-lg-flex mb-3">
            <div class="h5 m-0">
                <icon class="mr-3">chart-line</icon> Статистика
                <span class="small text-muted d-block d-lg-inline-block" v-if="total !== null">
                    {{ clicks.length | plural('Показан %d клик', 'Показано %d клика', 'Показано %d кликов') }} из {{ total }}
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-3 mb-lg-4">
                <custom-select
                        v-model="partner"
                        placeholder="Партнёр"
                        :options="options.partners"
                ></custom-select>
            </div>
            <div class="col-lg-6 mb-3 mb-lg-4">
                <custom-select
                        v-model="country"
                        placeholder="Страна"
                        :options="options.countries"
                ></custom-select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-3 mb-lg-4">
                <custom-select
                        v-model="browser"
                        placeholder="Браузер"
                        :options="options.browsers"
                ></custom-select>
            </div>
            <div class="col-lg-6 mb-3 mb-lg-4">
                <input
                        ref="dates"
                        type="text"
                        placeholder="Даты"
                        class="form-control"
                >
            </div>
        </div>

        <div class="card">
            <div class="table-responsive">
                <table class="table table-striped" width="100%">
                    <thead>
                        <tr>
                            <th width="40" class="d-none d-lg-table-cell">№</th>
                            <th>Партнёр</th>
                            <th class="d-none d-lg-table-cell"></th>
                            <th class="d-none d-lg-table-cell"></th>
                            <th>Дата</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, i) in clicks" :key="item.id">
                            <td class="d-none d-lg-table-cell">{{ item.id }}</td>
                            <td><img v-if="item.partner" :src="item.partner.image" :alt="item.partner.name"></td>
                            <td class="d-none d-lg-table-cell">
                                <div>Браузер: {{ item.client_name }}</div>
                                <div>OS: {{ item.os }}</div>
                            </td>
                            <td class="d-none d-lg-table-cell">
                                <div>IP: {{ item.ip }}</div>
                                <div v-if="item.country">Страна: {{ item.country.name }}</div>
                                <div v-if="item.city">Город: {{ item.city.name }}</div>
                            </td>
                            <td>{{ item.created_at | dateTime }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-body" v-if="total > perPage">
                <b-pagination v-model="page" :total-rows="total" :per-page="perPage"></b-pagination>
            </div>
        </div>
    </div>
</template>

<script>
    import Icon from '../components/Icon'
    import dateTime from '../filters/dateTime'
    import lower from '../filters/lower'
    import axios from 'axios'
    import CustomSelect from '../components/CustomSelect'
    import $ from 'jquery'
    window.$ = window.jQuery = $
    import 'air-datepicker/dist/css/datepicker.min.css'
    import 'air-datepicker'
    import plural from 'plural-ru'

    export default {
        components: {Icon, CustomSelect},
        filters: {dateTime, lower, plural},
        metaInfo: {
            title: 'Статистика - bankomat.su',
        },
        data() {
            return {
                partner: this.$route.query.partner || null,
                country: this.$route.query.country || null,
                browser: this.$route.query.browser || null,
                dates: this.$route.query.dates || null,
                page: this.$route.query.page || 1,
                options: {
                    partners: [],
                    countries: [],
                    browsers: [],
                },
                total: null,
                perPage: null,
                clicks: [],
                loading: false,
            }
        },
        watch: {
            partner(partner) {
                let query = {
                    partner,
                }
                if (this.country !== null) {
                    query.country = this.country
                }
                if (this.browser !== null) {
                    query.browser = this.browser
                }
                if (this.dates !== null) {
                    query.dates = this.dates
                }

                this.page = 1

                this.$router.push({
                    name: 'statistics',
                    query,
                })

                this.$nextTick(() => this.update())
            },
            country(country) {
                let query = {
                    country,
                }
                if (this.partner !== null) {
                    query.partner = this.partner
                }
                if (this.browser !== null) {
                    query.browser = this.browser
                }
                if (this.dates !== null) {
                    query.dates = this.dates
                }

                this.page = 1

                this.$router.push({
                    name: 'statistics',
                    query,
                })

                this.$nextTick(() => this.update())
            },
            browser(browser) {
                let query = {
                    browser,
                }
                if (this.partner !== null) {
                    query.partner = this.partner
                }
                if (this.country !== null) {
                    query.country = this.country
                }
                if (this.dates !== null) {
                    query.dates = this.dates
                }

                this.page = 1

                this.$router.push({
                    name: 'statistics',
                    query,
                })

                this.$nextTick(() => this.update())
            },
            dates(dates) {
                let query = {
                    dates,
                }
                if (this.partner !== null) {
                    query.partner = this.partner
                }
                if (this.country !== null) {
                    query.country = this.country
                }
                if (this.browser !== null) {
                    query.browser = this.browser
                }

                this.page = 1

                this.$router.push({
                    name: 'statistics',
                    query,
                })

                this.$nextTick(() => this.update())
            },
            page(page) {
                let query = {
                    page,
                }
                if (this.dates !== null) {
                    query.dates = this.dates
                }
                if (this.partner !== null) {
                    query.partner = this.partner
                }
                if (this.country !== null) {
                    query.country = this.country
                }
                if (this.browser !== null) {
                    query.browser = this.browser
                }

                this.$router.push({
                    name: 'statistics',
                    query,
                })

                this.$nextTick(() => this.update())
            }
        },
        created() {
            if (!this.$store.state.auth.user) {
                this.$router.push({ name: 'login' })
            } else if (!this.$permission('statistics:browse')) {
                this.$router.push({ name: 'error403' })
            } else {
                this.$store.dispatch('auth/withAuthorized').then(() => {
                    axios.get('/api/statistics/filters').then(({ data }) => {
                        this.options.partners = [
                            { text: 'Любой партнёр', value: null },
                        ].concat(data.partners.map(el => ({
                            value: el.id,
                            text: el.name,
                        })))
                        this.options.countries = [
                            { text: 'Любая страна', value: null },
                        ].concat(data.countries.map(el => ({
                            value: el.id,
                            text: el.name,
                        })))
                        this.options.browsers = [
                            { text: 'Любой браузер', value: null },
                        ].concat(data.browsers.map(el => ({
                            value: el,
                            text: el,
                        })))
                        this.update()
                    })
                })
            }
        },
        mounted() {
            $(this.$refs.dates).datepicker({
                range: true,
                multipleDatesSeparator: ' - ',
                onSelect: dates => {
                    this.dates = dates
                },
            })
        },
        methods: {
            reset() {
                this.partner = null
                this.country = null
                this.browser = null
                this.dates = null
            },
            update() {
                if (this.loading) {
                    return
                }
                this.loading = true
                this.$store.dispatch('auth/withAuthorized').then(() => {
                    let params = {
                        partner: this.partner,
                        country: this.country,
                        browser: this.browser,
                        dates: this.dates,
                        page: this.page,
                    };

                    axios.get('/api/statistics/clicks', {params}).then(({data}) => {
                        this.perPage = data.meta.per_page
                        this.total = data.meta.total
                        this.clicks = data.data
                        this.loading = false
                    })
                })
            },
        }
    }
</script>
