<template>
    <div>
        <div class="d-block d-lg-flex mb-3">
            <div class="h5 mt-auto mb-auto">
                <icon class="mr-3">users</icon> Пользователи
                <span class="small text-muted d-block d-lg-inline-block" v-if="$store.state.users.total !== null">
                    {{ items.length | plural('Показан %d пользователь', 'Показано %d пользователя', 'Показано %d пользователей') }} из {{ $store.state.users.total }}
                </span>
            </div>
            <b-button variant="primary" v-if="$permission('users:create')" size="sm" class="ml-auto mt-3 mt-lg-0" @click.prevent.stop="createUser()">
                <icon class="mr-2">plus</icon>
                Добавить пользователя
            </b-button>
        </div>

        <div class="card">
            <div class="table-responsive">
                <table class="table table-striped" width="100%">
                    <thead>
                        <tr>
                            <th width="40" class="d-none d-lg-table-cell">№</th>
                            <th width="600">Имя</th>
                            <th class="d-none d-lg-table-cell">Даты</th>
                            <th class="text-center" v-if="$permission('users:delete') || $permission('users:update')">Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, i) in items" :key="item.id">
                            <td class="d-none d-lg-table-cell">{{ item.id }}</td>
                            <td>
                                <span>{{ item.name }}</span>
                                <div class="small">{{ item.email }}</div>
                            </td>
                            <td class="d-none d-lg-table-cell">
                                <div class="small">Изменено {{ item.updated_at | dateTime | lower }}</div>
                                <div class="small">Создано {{ item.created_at | dateTime | lower }}</div>
                            </td>
                            <td class="text-center" v-if="$permission('users:delete') || $permission('users:update')">
                                <a v-if="$permission('users:update') && item.level < $store.state.auth.user.level" href="#" title="Редактировать" class="mr-3" @click.prevent.stop="editUser(item)">
                                    <icon>pencil-alt</icon>
                                </a>
                                <a v-if="$permission('users:delete') && item.level < $store.state.auth.user.level" href="#" title="Удалить" class="text-danger" @click.prevent.stop="confirmRemoving(item)">
                                    <icon>trash-alt</icon>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-body" v-if="$store.state.users.total > $store.state.users.perPage">
                <b-pagination v-model="page" :total-rows="$store.state.users.total" :per-page="$store.state.users.perPage"></b-pagination>
            </div>
        </div>

        <validation-observer v-slot="{ handleSubmit }">
            <b-modal v-model="modal" size="lg">
                <template v-slot:modal-title>
                    <template v-if="modalType == 'create'">
                        <icon class="mr-3">plus</icon>
                        Создание пользователя
                    </template>
                    <template v-else>
                        <icon class="mr-3">pencil-alt</icon>
                        Редактирование пользователя
                    </template>
                </template>

                <input id="username" style="display:none" type="text" name="fakeusernameremembered">
                <input id="password" style="display:none" type="password" name="fakepasswordremembered">

                <validation-provider rules="required" v-slot="{ errors }">
                    <b-form-group
                            label="Имя"
                            label-for="name"
                            :invalid-feedback="errors.length ? errors[0] : null"
                            :state="errors.length ? false : null"
                    >
                        <b-form-input id="name"
                                      v-model="modalItem.name"
                                      name="name"
                                      :state="errors.length ? false : null"
                        ></b-form-input>
                    </b-form-group>
                </validation-provider>

                <validation-provider :rules="'required|email|is-unique:users,email' + (modalType == 'create' ? '' : ',' + modalItem.id)" v-slot="{ errors }">
                    <b-form-group
                            label="Email"
                            label-for="email"
                            autocomplete="nope"
                            :invalid-feedback="errors.length ? errors[0] : null"
                            :state="errors.length ? false : null"
                    >
                        <b-form-input id="email"
                                      v-model="modalItem.email"
                                      name="email"
                                      :state="errors.length ? false : null"
                        ></b-form-input>
                    </b-form-group>
                </validation-provider>


                <validation-provider :rules="modalType == 'create' ? 'required|confirmed:confirmation_password' : 'confirmed:confirmation_password'" v-slot="{ errors }">
                    <b-form-group
                            :label="modalType == 'create' ? 'Пароль' : 'Новый пароль'"
                            label-for="password"
                            :invalid-feedback="errors.length ? errors[0] : null"
                            :state="errors.length ? false : null"
                    >
                        <b-form-input id="password"
                                      v-model="modalItem.password"
                                      name="password"
                                      type="password"
                                      autocomplete="new-password"
                                      :state="errors.length ? false : null"
                        ></b-form-input>
                    </b-form-group>
                </validation-provider>

                <validation-provider v-slot="{ errors }" vid="confirmation_password">
                    <b-form-group
                            label="Повторите пароль"
                            label-for="confirmation_password"
                            :invalid-feedback="errors.length ? errors[0] : null"
                            :state="errors.length ? false : null"
                    >
                        <b-form-input id="confirmation_password"
                                      v-model="modalItem.confirmation_password"
                                      name="confirmation_password"
                                      type="confirmation_password"
                                      autocomplete="confirmation-new-password"
                                      :state="errors.length ? false : null"
                        ></b-form-input>
                    </b-form-group>
                </validation-provider>

                <b-form-group v-if="$permission('roles:browse') && rolesOptions.length" label="Роли" label-for="roles">
                    <custom-select
                            :multiple="true"
                            id="roles"
                            v-model="modalItem.roles"
                            name="roles"
                            :options="rolesOptions"
                            :loading="loadingRoles"
                            placeholder="Выберите роли"
                    ></custom-select>
                </b-form-group>

                <template v-slot:modal-footer="{ ok, cancel, hide }">
                    <b-button variant="secondary" @click.prevent.stop="hide()">
                        Закрыть
                    </b-button>
                    <b-button variant="primary" @click.prevent.stop="handleSubmit(saveUser)">
                        Сохранить
                    </b-button>
                </template>
            </b-modal>
        </validation-observer>

        <b-modal v-model="removeModal" title="">
            <template v-slot:modal-title>
                <icon class="mr-3">trash-alt</icon>
                Удаление пользователя
            </template>

            <p class="mb-0">Вы действительно хотите удалить пользователя?</p>

            <template v-slot:modal-footer="{ ok, cancel, hide }">
                <b-button variant="secondary" @click.prevent.stop="hide()">
                    Нет, не удалять
                </b-button>
                <b-button variant="danger" @click.prevent.stop="removeUser()">
                    Да, удалить
                </b-button>
            </template>
        </b-modal>
    </div>
</template>

<script>
    import Icon from '../components/Icon'
    import dateTime from '../filters/dateTime'
    import maxLength from '../filters/maxLength'
    import lower from '../filters/lower'
    import Alert from '../Alert'
    import VueNumberInput from '@chenfengyuan/vue-number-input'
    import axios from 'axios'
    import CustomSelect from '../components/CustomSelect'
    import plural from 'plural-ru'

    export default {
        components: {Icon, VueNumberInput, CustomSelect},
        filters: {dateTime, maxLength, lower, plural},
        metaInfo: {
            title: 'Пользователи - bankomat.su',
        },
        data() {
            return {
                page: this.$route.query.page || 1,
                modal: false,
                modalType: 'create',
                modalItem: {
                    name: '',
                    email: '',
                    password: '',
                    confirmation_password: '',
                    roles: [],
                },
                items: [],
                removeModal: false,
                toRemove: null,
                permissions: {},
                rolesOptions: [],
                loadingRoles: true,
            }
        },
        created() {
            if (!this.$store.state.auth.user) {
                this.$router.push({ name: 'login' })
            } else if (!this.$permission('users:browse')) {
                this.$router.push({ name: 'error403' })
            } else {
                if (this.$permission('roles:browse')) {
                    axios.get('/api/roles/select').then(({data}) => {
                        this.rolesOptions = data.data
                            .filter(role => role.level < this.$store.state.auth.user.level)
                            .map(el => ({
                                value: el.id,
                                text: el.name,
                            }))
                        this.loadingRoles = false
                    })
                }
                this.update().then(items => {
                    if (typeof this.$route.query.action !== 'undefined') {
                        if (this.$route.query.action === 'create') {
                            this.modal = true
                            this.modalType = 'create'
                            this.modalItem = {
                                name: '',
                                email: '',
                                password: '',
                                confirmation_password: '',
                                roles: [],
                            }
                        } else {
                            let user = null
                            for (let item of items) {
                                if (item.id == this.$route.query.id) {
                                    user = item
                                    break
                                }
                            }
                            if (user !== null) {
                                if (this.$route.query.action === 'edit') {
                                    this.modalItem = user
                                    this.modalItem.password = null
                                    this.modalType = 'edit'
                                    this.modal = true
                                } else if (this.$route.query.action === 'remove') {
                                    this.toRemove = user
                                    this.removeModal = true
                                }
                            }
                        }
                    }
                })
            }
        },
        watch: {
            page(page) {
                this.$router.push({
                    name: 'users',
                    query: {
                        page,
                    },
                });
                this.$nextTick(() => this.update())
            },
            modal(modal) {
                if (modal == false) {
                    this.resetQuery()
                }
            },
            removeModal(modal) {
                if (modal == false) {
                    this.resetQuery()
                }
            },

        },
        methods: {
            update() {
                return new Promise(resolve => {
                    this.$store
                        .dispatch('users/page', { page: this.page })
                        .then(items => {
                            this.items = items
                            resolve(items)
                        })
                })
            },
            createUser() {
                this.$router.push({
                    name: 'users',
                    query: {
                        page: this.page,
                        action: 'create',
                    },
                })
                this.modalItem = {
                    name: '',
                    email: '',
                    password: '',
                    confirmation_password: '',
                    roles: [],
                }
                this.modalType = 'create'
                this.modal = true
            },
            editUser(user) {
                this.$router.push({
                    name: 'users',
                    query: {
                        page: this.page,
                        action: 'edit',
                        id: user.id,
                    },
                })
                this.modalItem = Object.assign({}, user)
                this.modalItem.password = null
                this.modalType = 'edit'
                this.modal = true
            },
            resetQuery() {
                if (typeof this.$route.query.action == 'undefined' &&
                    typeof this.$route.query.id == 'undefined' &&
                    this.$route.query.page == this.page) {
                    return
                }

                this.$router.push({
                    name: 'users',
                    query: {
                        page: this.page,
                    },
                })
            },
            saveUser() {
                if (this.modalType == 'create') {
                    this.$store.dispatch('users/create', this.modalItem)
                        .then(() => {
                            this.modal = false
                            Alert.success('Пользователь создан')
                            this.update()
                            this.resetQuery()
                        })
                        .catch(Alert.unknownError)
                } else {
                    this.$store.dispatch('users/update', this.modalItem)
                        .then(() => {
                            this.modal = false
                            Alert.success('Данные обновлены')
                            this.update()
                            this.resetQuery()
                        })
                        .catch(Alert.unknownError)
                }
            },
            confirmRemoving(page) {
                this.$router.push({
                    name: 'users',
                    query: {
                        page: this.page,
                        action: 'remove',
                        id: page.id,
                    },
                })
                this.toRemove = page
                this.removeModal = true
            },
            removeUser() {
                this.$store.dispatch('users/remove', this.toRemove)
                    .then(() => {
                        this.removeModal = false
                        Alert.success('Пользователь удалён')
                        this.update()
                        this.resetQuery()
                    })
                    .catch(Alert.unknownError)
            },
        }
    }
</script>
