// User styles
//
// This is the place where you should place all additional styles and imports.
// This will allow you to take advantage of future updates with lower time consumed on the upgrade process.

h1 {
	a {
		border-bottom: 2px solid $secondary;
		text-decoration: none;
	}
	a:hover {
		text-decoration: none;
		border: none;
	}
}

.phone {
	animation: floating-sm 5s ease infinite;
}
