<template>
    <span :class="{burger: true, 'burger--active': active}">
        <span class="burger__line burger__line--first"></span>
        <span class="burger__line burger__line--middle"></span>
        <span class="burger__line burger__line--last"></span>
    </span>
</template>

<script>
    export default {
        props: {
            active: {
                type: Boolean,
                default: false,
            },
        },
    }
</script>

<style lang="scss">
    .burger {
        height: 1rem;
        display: block;
        width: 20px;
        position: relative;

        &__line {
            display: block;
            height: 2px;
            width: 20px;
            background: #fff;
            position: absolute;
            left: 0;
            transition: 0.3s linear;
            transition-property: opacity, transform;

            &--first {
                top: 0;
            }

            &--middle {
                top: 50%;
                margin-top: -1px;
            }

            &--last {
                bottom: 0;
            }
        }

        &--active {
            .burger__line--first {
                transform: rotate(45deg) translate(5px, 4px);
            }

            .burger__line--middle {
                opacity: 0;
            }

            .burger__line--last {
                transform: rotate(-45deg) translate(5px, -5px);
            }
        }
    }
</style>
