<template>
    <multiselect
            :searchable="multiple"
            :multiple="multiple"
            :value="multiselectValue"
            @input="onInput"
            track-by="value"
            label="text"
            :options="options"
            :placeholder="placeholder"
            select-label="Нажмите для выбора"
            selected-label="Выбрано"
            deselect-label="Нажмите для удаления"
            :loading="loading"
            :close-on-select="!multiple"
    ></multiselect>
</template>

<style lang="scss">
    @import '~vue-multiselect/dist/vue-multiselect.min.css';
    .multiselect__tags {
        display: block;
        padding: 0.7rem 1.25rem;
        font-size: 1rem;
        font-weight: 400;
        color: #8492A6;
        border: 1px solid #E0E6ED;
        border-radius: 0.25rem;
        box-shadow: inset 0 1px 1px rgba(31, 45, 61, 0.075);
        transition: all 0.2s ease;
    }
    .multiselect__single {
        font-size: 1rem;
        line-height: 1.5;
        margin: 0;
        display: inline;
        padding: 0;
    }
    .multiselect__select {
        height: 50px;
    }
</style>

<script>
    import Multiselect from 'vue-multiselect'

    export default {
        components: {
            Multiselect
        },
        model: {
            event: 'input',
            prop: 'value',
        },
        props: {
            placeholder: {
                type: String,
            },
            value: {
                type: [String, Array],
            },
            loading: {
                type: Boolean,
                default: false,
            },
            options: {
                type: Array,
            },
            multiple: {
                type: Boolean,
                default: false,
            },
        },
        computed: {
            multiselectValue() {
                if (Array.isArray(this.value)) {
                    let result = [];
                    for(let id of this.value) {
                        for(let option of this.options) {
                            if (option.value == id) {
                                result.push(option)
                                break
                            }
                        }
                    }
                    return result
                } else {
                    for(let option of this.options) {
                        if (this.value == option.value) {
                            return option
                        }
                    }
                }
            },
        },
        methods: {
            onInput(value) {
                if (this.multiple) {
                    this.$emit('input', value.map(el => el.value))
                } else {
                    this.$emit('input', value.value)
                }
            }
        }
    }
</script>
