<template>
    <div
            @dragenter.prevent.stop="highlightOn"
            @dragover.prevent.stop="highlightOn"
            @dragleave.prevent.stop="highlightOff"
            @drop.prevent.stop="onDrop"
            :class="{'file-input': true, 'file-input-highlight': highlight}"
    >
        <p>Нажмите сюда или перетащите файл</p>
        <input type="file" ref="fileInput" :multiple="multiple" @change="handleFiles($refs.fileInput.files)">
    </div>
</template>

<style lang="scss">
    .file-input {
        border: 1px solid #d0d6e6;
        width: 100%;
        min-height: 100px;
        border-radius: 0.25rem;
        display: flex;
        position: relative;
        padding: 0.75rem 1.25rem;
        margin-bottom: 1rem;
        > p {
            margin: auto 0;
        }
        input {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            cursor: pointer;
        }
    }
    .file-input-highlight {
        border-color: rgba(110, 0, 255, 0.5);
    }
</style>

<script>
    export default {
        props: {
            multiple: {
                type: Boolean,
                default: false,
            },
            maxSize: {
                type: Number,
                default: 2,
            },
            image: {
                type: Boolean,
                default: false,
            },
        },
        data() {
            return {
                highlight: false,
            }
        },
        methods: {
            handleFiles(files) {
                if (files.length > 1 && this.multiple == false) {
                    this.$emit('error', 'Вы должны выбрать один файл! Определитесь.')
                    return
                }

                for(let file of files) {
                    if ((file.size / 1024 / 1024) > this.maxSize) {
                        this.$emit('error', 'Максимум ' + this.maxSize + ' МБ')
                        return
                    }
                    if (this.image && !/\.(jpe?g|png)$/i.test(file.name)) {
                        this.$emit('error', 'Вы должны выбрать изображение')
                        return
                    }
                }

                if (files.length > 0) {
                    this.$emit('change', this.multiple ? files : files[0])
                    this.$refs.fileInput.value = null
                }
            },
            highlightOn() {
                this.highlight = true
            },
            highlightOff() {
                this.highlight = false
            },
            onDrop(e) {
                this.highlightOff()
                this.handleFiles(e.dataTransfer.files)
            },
        }
    }
</script>
