<template>
    <span :class="icon"></span>
</template>

<script>
    export default {
        name: 'Icon',
        computed: {
            icon() {
                if (typeof this.$slots.default[0] === 'undefined' || typeof this.$slots.default[0].text === 'undefined') {
                    return '-'
                }
                return 'fas fa-' + this.$slots.default[0].text;
            },
        },
    }
</script>
