р<template>
    <div class="image-input">
        <img :src="mutatedValue" v-if="type != 'avatar' && mutatedValue" style="max-width:200px" class="rounded mb-3">
        <div class="d-flex">
            <file-input @change="onChangeFile" @error="onError" image></file-input>
            <img :src="mutatedValue" width="100" height="100" v-if="type == 'avatar' && mutatedValue" class="image-input-preview">
        </div>
        <p class="invalid-feedback d-block text-danger" v-if="mutatedError" v-text="mutatedError"></p>

        <b-modal v-model="modal" modal-class="crop-modal" size="lg" hide-header>
            <img ref="cropper" class="cropper-image">

            <template v-slot:modal-footer="{ ok, cancel, hide }">
                <b-button variant="secondary" @click.prevent.stop="hide()">
                    Отмена
                </b-button>
                <b-button variant="danger" @click.prevent.stop="crop()">
                    Кадрировать
                </b-button>
            </template>
        </b-modal>

        <input type="hidden" :name="name" :id="id" :value="mutatedValue">
    </div>
</template>

<style>
    .crop-modal .modal-body {
        padding: 0;
    }
    .image-input-preview {
        width: 100px;
        min-width: 100px;
        height: 100px;
        border-radius: 50%;
        flex: 1 0;
        margin-left: 1rem;
        display: block;
    }
    .cropper-image {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
</style>

<script>
    import FileInput from './FileInput'
    import axios from 'axios'
    import Cropper from 'cropperjs'

    export default {
        model: {
            prop: 'value',
            event: 'change',
        },
        props: {
            value: {
                type: String,
                default: null,
            },
            name: {
                type: String,
                default: null,
            },
            id: {
                type: String,
                default: null,
            },
            error: {
                type: String,
                default: null,
            },
            type: {
                type: String,
                default: 'avatar',
            },
            aspectRatio: {
                type: Number,
                default: 1,
            },
        },
        components: {
            FileInput,
        },
        data() {
            return {
                mutatedError: null,
                mutatedValue: this.value,
                modal: false,
                cropper: null,
                file: null,
                detail: {
                    x: null,
                    y: null,
                    width: null,
                    height: null,
                },
            }
        },
        watch: {
            error(error) {
                this.mutatedError = error
            },
            value(value) {
                this.mutatedValue = value
            },
        },
        methods: {
            onChangeFile(file) {
                this.file = file
                let reader = new FileReader()

                reader.onload = e => {
                    this.modal = true
                    this.$nextTick(() => {
                        this.$refs.cropper.setAttribute('src', e.target.result)
                        this.$nextTick(() => {
                            if (this.cropper !== null) {
                                this.cropper.destroy()
                            }
                            this.cropper = new Cropper(this.$refs.cropper, {
                                viewMode: 1,
                                aspectRatio: this.aspectRatio,
                                crop: ({detail}) => {
                                    this.detail.x = detail.x
                                    this.detail.y = detail.y
                                    this.detail.width = detail.width
                                    this.detail.height = detail.height
                                },
                            })
                        })
                    })
                }

                reader.readAsDataURL(file);
            },
            onError(error) {
                this.mutatedError = error
            },
            crop() {
                let formData = new FormData();
                formData.append('type', this.type)
                formData.append('height', parseInt(this.detail.height))
                formData.append('width', parseInt(this.detail.width))
                formData.append('x', parseInt(this.detail.x))
                formData.append('y', parseInt(this.detail.y))
                formData.append('image', this.file)

                axios.post('/api/uploads/crop', formData)
                    .then(({ data }) => {
                        this.$emit('change', data.url)
                        this.mutatedValue = data.url
                        this.modal = false
                    })
                    .catch(() => {
                        this.mutatedError = 'Ошибка сервера'
                        this.modal = false
                    })
            },
        }
    }
</script>
