<template>
    <div class="rating-input" @mouseout="hovered = null">
        <div class="d-flex">
            <span v-for="i in 5" :key="i" @mouseenter="hovered = i" @click.prevent.stop="setRating(i)" :class="starClass(i)"></span>
        </div>
        <input type="hidden" :id="id" :name="name" :value="mutatedValue">
    </div>
</template>

<style>
    .rating-input {
        color: #d9e2ef;
        cursor: pointer;
        font-size: 2rem;
    }
</style>

<script>
    export default {
        model: {
            prop: 'value',
            event: 'change',
        },
        props: ['value', 'id', 'name'],
        data() {
            return {
                mutatedValue: this.value,
                hovered: null,
            }
        },
        watch: {
            value(value) {
                this.mutatedValue = value
            },
        },
        methods: {
            starClass(i) {
                let result = 'fas fa-star';
                if (this.hovered !== null) {
                    if (i <= this.hovered) {
                        result += ' text-warning';
                    }
                } else if (typeof this.value == 'number' && i <= this.value) {
                    result += ' text-warning';
                }
                return result;
            },
            setRating(i) {
                this.mutatedValue = i
                this.$emit('change', i)
            },
        },
    }
</script>
