@import "purpose.scss";
@import "purpose/libs/_quill.scss";
@import "~animate.css/animate.css";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~cropperjs/dist/cropper.css";
@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/xq-light.css";

.modal-backdrop {
  opacity: 0.5;
}

.custom-select {
  -webkit-appearance: none;
}

.ql-container {
  position: relative;
}

textarea.form-control {
  overflow-y: auto !important;
}

.CodeMirror {
  border: 1px solid #ddd;
  border-radius: 0.375rem;
  height: auto;
}
.CodeMirror-scroll {
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
}

@media (max-width: 1024px) {
  .modal {
    padding: 0 !important;
  }
  .modal-dialog {
    margin: 0;
  }
  .modal-content {
    border-radius: 0;
    min-height: 100vh;
    min-width: 100vw;
  }
  .modal-header {
    padding: 0.5rem 1rem;
    border-radius: 0;
  }
  .modal-title {
    line-height: 1.5;
    font-size: 1rem;
  }
  .modal-body {
    padding: 0.5rem 1rem;
  }
  .modal-footer {
    padding: 0.5rem 1rem;
    border-radius: 0;
  }
  .btn {
    @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
  }
}

.c-pointer {
  cursor: pointer;
}
