@import "purpose.scss";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "../libs/swiper/dist/css/swiper.min.css";
@import "~@fancyapps/fancybox/dist/jquery.fancybox.css";
@import "purpose/libs/swiper";

img {
  max-width: 100%;
  height: auto;
}

.shape-container {
  pointer-events: none;
}

.card-body > *:last-child {
  margin-bottom: 0;
}
