<template>
    <div>
        <div class="row">
            <currency-range class="col-lg-6" placeholder="Сумма кредита" v-model="amountFilter" :min="minAmount" :max="maxAmount"/>
            <month-range class="col-lg-6" placeholder="Срок кредита" v-model="termFilter" :min="minTerm" :max="maxTerm"/>
        </div>
        <table class="table table-cards align-items-center loan-table mt-5">
            <tbody class="list">
                <template v-for="partner in partnersFiltered">
                    <tr :key="partner.id">
                        <th class="text-center text-lg-left" width="182"><img alt="Image placeholder" width="149" height="59" :src="partner.image"></th>
                        <td class="text-center text-lg-left pl-0 pr-0">
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <div class="text-muted" v-text="amount(partner)"></div>
                                    <div class="text-muted" v-text="rate(partner)"></div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="text-muted" v-text="age(partner)"></div>
                                    <div class="text-muted" v-text="term(partner)"></div>
                                </div>
                            </div>
                        </td>
                        <td class="text-center text-lg-right">
                            <a :href="'/c/' + partner.hash" @click="goal(partner)" class="btn btn-primary" target="_blank">Подать заявку</a>
                        </td>
                    </tr>
                    <tr class="table-divider"></tr>
                </template>
            </tbody>
        </table>
    </div>
</template>

<style lang="scss">
    .loan-table {
        @media (max-width: 992px) {
            tbody,
            tr,
            td,
            th {
                display: block;
            }
            tr {
                th,
                td {
                    border: 1px solid #eff2f7 !important;
                    border-top: 0 !important;
                    border-bottom: 0 !important;
                    border-radius: 0;
                    width: 100% !important;
                    &:after {
                        display: none;
                    }
                    &:first-child {
                        border: 1px solid #eff2f7 !important;
                        border-bottom: 0 !important;
                        border-radius: 0;
                        border-top-left-radius: .375rem;
                        border-top-right-radius: .375rem;
                    }
                    &:last-child {
                        border: 1px solid #eff2f7 !important;
                        border-top: 0 !important;
                        border-radius: 0;
                        border-bottom-left-radius: .375rem;
                        border-bottom-right-radius: .375rem;
                    }
                }
            }
        }
    }
</style>

<script>
    import axios from 'axios'
    import plural from 'plural-ru'
    import CurrencyRange from './components/CurrencyRange'
    import MonthRange from './components/MonthRange'
    import config from './config'

    export default {
        components: {
            CurrencyRange,
            MonthRange,
        },
        data() {
            return {
                partners: [],
                amountFilter: null,
                termFilter: null,
            }
        },
        mounted() {
            axios.post('/ajax/partners', {
                type: 'cash'
            }).then(({ data }) => {
                this.partners = data.data
            })
        },
        computed: {
            minAmount() {
                let result = null;
                for(let partner of this.partners) {
                    if (result == null || partner.min < result) {
                        result = partner.min
                    }
                }
                return result
            },
            maxAmount() {
                let result = null;
                for(let partner of this.partners) {
                    if (result == null || partner.max > result) {
                        result = partner.max
                    }
                }
                return result
            },
            minTerm() {
                let result = null;
                for(let partner of this.partners) {
                    if (result == null || partner.min_term < result) {
                        result = partner.min_term
                    }
                }
                return result
            },
            maxTerm() {
                let result = null;
                for(let partner of this.partners) {
                    if (result == null || partner.max_term > result) {
                        result = partner.max_term
                    }
                }
                return result
            },
            partnersFiltered() {
                let result = [];
                for(let partner of this.partners) {
                    if (this.termFilter !== null) {
                        if (partner.min_term !== null && this.termFilter < partner.min_term) {
                            continue;
                        }
                        if (partner.max_term !== null && this.termFilter > partner.max_term) {
                            continue;
                        }
                    }
                    if (this.amountFilter !== null) {
                        if (this.amountFilter < partner.min) {
                            continue;
                        }
                        if (this.amountFilter > partner.max) {
                            continue;
                        }
                    }
                    result.push(partner)
                }
                return result
            },
        },
        methods: {
            rate(partner) {
                return 'Ставка от ' + partner.rate + '% в год'
            },
            amount(partner) {
                if (partner.min == null && partner.max == null) {
                    return ''
                }

                let result = 'Сумма кредита '
                if (partner.min !== null) {
                    result += ' от ' + partner.min.toLocaleString() + ' ₽'
                }
                if (partner.max !== null) {
                    result += ' до ' + partner.max.toLocaleString() + ' ₽'
                }

                return result
            },
            age(partner) {
                if (partner.min_age == null && partner.max_age == null) {
                    return ''
                }
                let agePlural = age => plural(age, '%d года', '%d лет', '%d лет')
                let result = 'Возраст '
                if (partner.min_age) {
                    result += ' от ' + agePlural(partner.min_age)
                }
                if (partner.max_age) {
                    result += ' до ' + agePlural(partner.max_age)
                }
                return result
            },
            term(partner) {
                if (partner.min_term == null && partner.max_term == null) {
                    return ''
                }
                let termPlural = term => {
                    return plural(term, '%d месяца', ' %d месяцев', '%d месяцев')
                }
                let result = 'Срок '
                if (partner.min_term) {
                    result += ' от ' + termPlural(partner.min_term)
                }
                if (partner.max_term) {
                    result += ' до ' + termPlural(partner.max_term)
                }
                return result
            },
            goal(partner) {
                if (typeof ym !== 'undefined') {
                    ym(config.yandexMetricaId, 'reachGoal', 'cash', {
                        id: partner.id,
                        name: partner.name,
                    })
                }
                if (typeof ga !== 'undefined') {
                    ga('send', {
                        hitType: 'event',
                        eventCategory: 'Кредит наличными',
                        eventAction: 'cash',
                        eventLabel: partner.name,
                    })
                }
            },
        },
    }
</script>
