<template>
    <div>
        <div class="row">
            <currency-range class="col-lg-6" placeholder="Лимит" v-model="amountFilter" :min="0" :max="maxAmount"/>
            <days-range class="col-lg-6" placeholder="Льготный период" v-model="graceFilter" :min="0" :max="maxGrace"/>
        </div>
        <table class="table table-cards align-items-center loan-table mt-5">
            <tbody class="list">
                <template v-for="partner in partnersFiltered">
                    <tr :key="partner.id">
                        <th class="text-center text-lg-left" width="182"><img alt="Image placeholder" class="rounded" width="149" :src="partner.image"></th>
                        <td class="text-center text-lg-left pl-0 pr-0">
                            <h3 class="h6" v-text="partner.name"></h3>
                            <div class="text-muted" v-text="amount(partner)"></div>
                            <div class="text-muted" v-text="rate(partner)"></div>
                            <div class="text-muted" v-text="grace(partner)"></div>
                        </td>
                        <td class="text-center text-lg-right">
                            <a :href="'/c/' + partner.hash" @click="goal(partner)" class="btn btn-primary" target="_blank">Подать заявку</a>
                        </td>
                    </tr>
                    <tr class="table-divider"></tr>
                </template>
            </tbody>
        </table>
    </div>
</template>

<style lang="scss">
    .loan-table {
        @media (max-width: 992px) {
            tbody,
            tr,
            td,
            th {
                display: block;
            }
            tr {
                th,
                td {
                    border: 1px solid #eff2f7 !important;
                    border-top: 0 !important;
                    border-bottom: 0 !important;
                    border-radius: 0;
                    width: 100% !important;
                    &:after {
                        display: none;
                    }
                    &:first-child {
                        border: 1px solid #eff2f7 !important;
                        border-bottom: 0 !important;
                        border-radius: 0;
                        border-top-left-radius: .375rem;
                        border-top-right-radius: .375rem;
                    }
                    &:last-child {
                        border: 1px solid #eff2f7 !important;
                        border-top: 0 !important;
                        border-radius: 0;
                        border-bottom-left-radius: .375rem;
                        border-bottom-right-radius: .375rem;
                    }
                }
            }
        }
    }
</style>

<script>
    import axios from 'axios'
    import plural from 'plural-ru'
    import CurrencyRange from './components/CurrencyRange'
    import DaysRange from './components/DaysRange'
    import config from './config'

    export default {
        components: {
            CurrencyRange,
            DaysRange,
        },
        data() {
            return {
                partners: [],
                amountFilter: null,
                graceFilter: null,
            }
        },
        mounted() {
            axios.post('/ajax/partners', {
                type: 'card'
            }).then(({ data }) => {
                this.partners = data.data
            })
        },
        computed: {
            maxAmount() {
                let result = null;
                for(let partner of this.partners) {
                    if (result == null || partner.max > result) {
                        result = partner.max
                    }
                }
                return result
            },
            maxGrace() {
                let result = null;
                for(let partner of this.partners) {
                    if (result == null || partner.grace_period > result) {
                        result = partner.grace_period
                    }
                }
                return result
            },
            partnersFiltered() {
                let result = [];
                for(let partner of this.partners) {
                    if (this.graceFilter !== null) {
                        if (this.graceFilter > partner.grace_period) {
                            continue;
                        }
                    }
                    if (this.amountFilter !== null) {
                        if (this.amountFilter > partner.max) {
                            continue;
                        }
                    }
                    result.push(partner)
                }
                return result
            },
        },
        methods: {
            rate(partner) {
                return 'Ставка от ' + partner.rate + '% в год'
            },
            amount(partner) {
                return 'Лимит до ' + partner.max.toLocaleString() + ' ₽'
            },
            grace(partner) {
                return 'Льготный период ' + plural(partner.grace_period, '%d день', '%d дня', '%d дней')
            },
            term(partner) {
                if (partner.min_term == null && partner.max_term == null) {
                    return ''
                }
                let termPlural = term => {
                    return plural(term, '%d месяца', ' %d месяцев', '%d месяцев')
                }
                let result = 'Срок '
                if (partner.min_term) {
                    result += ' от ' + termPlural(partner.min_term)
                }
                if (partner.max_term) {
                    result += ' до ' + termPlural(partner.max_term)
                }
                return result
            },
            goal(partner) {
                if (typeof ym !== 'undefined') {
                    ym(config.yandexMetricaId, 'reachGoal', 'credit-card', {
                        id: partner.id,
                        name: partner.name,
                    })
                }
                if (typeof ga !== 'undefined') {
                    ga('send', {
                        hitType: 'event',
                        eventCategory: 'Кредит наличными',
                        eventAction: 'credit-card',
                        eventLabel: partner.name,
                    })
                }
            },
        },
    }
</script>
