<template>
    <div>
        <div class="row">
            <currency-range class="col-lg-6" placeholder="Сумма микрозайма" v-model="amountFilter" :min="minAmount" :max="maxAmount"></currency-range>
            <term-range class="col-lg-6" placeholder="Срок микрозайма" v-model="termFilter" :min="minTerm" :max="maxTerm"></term-range>
        </div>
        <div v-if="availableMethods !== null" class="mb-3">
            <div class="custom-control custom-checkbox d-inline-block mr-3" v-for="method in availableMethods" :key="method.id">
                <input type="checkbox" :id="'method-' + method.id" v-model="selectedMethods" :value="method.id" class="custom-control-input">
                <label class="custom-control-label" :for="'method-' + method.id">{{ method.name }}</label>
            </div>
        </div>
        <table class="table table-cards align-items-center loan-table mt-5">
            <tbody class="list">
                <template v-for="partner in partnersFiltered">
                    <tr :key="partner.id">
                        <th class="text-center text-lg-left" width="182"><img alt="Image placeholder" width="149" height="59" :src="partner.image"></th>
                        <td class="text-center text-lg-left pl-0 pr-0">
                            <div v-if="availableMethods !== null" v-text="methodsText(partner)"></div>
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <div class="text-muted" v-text="amount(partner)"></div>
                                    <div class="text-muted" v-text="rate(partner)"></div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="text-muted" v-text="age(partner)"></div>
                                    <div class="text-muted" v-text="term(partner)"></div>
                                </div>
                            </div>
                        </td>
                        <td class="text-center text-lg-right">
                            <a :href="'/c/' + partner.hash" @click="goal(partner)" class="btn btn-primary" target="_blank">Подать заявку</a>
                        </td>
                    </tr>
                    <tr class="table-divider"></tr>
                </template>
            </tbody>
        </table>
    </div>
</template>

<style lang="scss">
    .loan-table {
        @media (max-width: 992px) {
            tbody,
            tr,
            td,
            th {
                display: block;
            }
            tr {
                th,
                td {
                    border: 1px solid #eff2f7 !important;
                    border-top: 0 !important;
                    border-bottom: 0 !important;
                    border-radius: 0;
                    width: 100% !important;
                    &:after {
                        display: none;
                    }
                    &:first-child {
                        border: 1px solid #eff2f7 !important;
                        border-bottom: 0 !important;
                        border-radius: 0;
                        border-top-left-radius: .375rem;
                        border-top-right-radius: .375rem;
                    }
                    &:last-child {
                        border: 1px solid #eff2f7 !important;
                        border-top: 0 !important;
                        border-radius: 0;
                        border-bottom-left-radius: .375rem;
                        border-bottom-right-radius: .375rem;
                    }
                }
            }
        }
    }
</style>

<script>
    import axios from 'axios'
    import plural from 'plural-ru'
    import CurrencyRange from './components/CurrencyRange'
    import TermRange from './components/TermRange'
    import config from './config'

    export default {
        components: {
            CurrencyRange,
            TermRange,
        },
        props: {
            methods: {
                type: Array,
                default: null,
            },
        },
        data() {
            return {
                partners: [],
                amountFilter: null,
                termFilter: null,
                availableMethods: null,
                selectedMethods: null,
            }
        },
        mounted() {
            axios.post('/ajax/partners', {
                type: 'loan'
            }).then(({ data }) => {
                this.partners = data.data
            })
            if (this.methods !== null) {
                axios.post('/ajax/payment-systems').then(({ data }) => {
                    this.availableMethods = []
                    this.selectedMethods = []
                    for(let method of data.data) {
                        if (this.methods.includes(method.slug)) {
                            this.selectedMethods.push(method.id)
                            this.availableMethods.push(method)
                        }
                    }
                })
            }
        },
        computed: {
            minAmount() {
                let result = null;
                for(let partner of this.partners) {
                    if (result == null || partner.min < result) {
                        result = partner.min
                    }
                }
                return result
            },
            maxAmount() {
                let result = null;
                for(let partner of this.partners) {
                    if (result == null || partner.max > result) {
                        result = partner.max
                    }
                }
                return result
            },
            minTerm() {
                let result = null;
                for(let partner of this.partners) {
                    if (result == null || partner.min_term < result) {
                        result = partner.min_term
                    }
                }
                return result
            },
            maxTerm() {
                let result = null;
                for(let partner of this.partners) {
                    if (result == null || partner.max_term > result) {
                        result = partner.max_term
                    }
                }
                return result
            },
            partnersFiltered() {
                let result = [];
                for(let partner of this.partners) {
                    if (this.termFilter !== null) {
                        if (partner.min_term !== null && this.termFilter < partner.min_term) {
                            continue;
                        }
                        if (partner.max_term !== null && this.termFilter > partner.max_term) {
                            continue;
                        }
                    }
                    if (this.amountFilter !== null) {
                        if (this.amountFilter < partner.min) {
                            continue;
                        }
                        if (this.amountFilter > partner.max) {
                            continue;
                        }
                    }
                    if (this.selectedMethods !== null) {
                        let hasMethod = false;
                        for(let method of partner.payment_systems) {
                            if (this.selectedMethods.includes(method)) {
                                hasMethod = true;
                                break;
                            }
                        }
                        if (hasMethod === false) {
                            continue;
                        }
                    }
                    result.push(partner)
                }
                return result
            },
        },
        methods: {
            rate(partner) {
                return 'Ставка от ' + partner.rate + '% в день'
            },
            amount(partner) {
                if (partner.min == null && partner.max == null) {
                    return ''
                }

                let result = 'Сумма займа '
                if (partner.min !== null) {
                    result += ' от ' + partner.min.toLocaleString() + ' ₽'
                }
                if (partner.max !== null) {
                    result += ' до ' + partner.max.toLocaleString() + ' ₽'
                }

                return result
            },
            age(partner) {
                if (partner.min_age == null && partner.max_age == null) {
                    return ''
                }
                let agePlural = age => plural(age, '%d года', '%d лет', '%d лет')
                let result = 'Возраст '
                if (partner.min_age) {
                    result += ' от ' + agePlural(partner.min_age)
                }
                if (partner.max_age) {
                    result += ' до ' + agePlural(partner.max_age)
                }
                return result
            },
            term(partner) {
                if (partner.min_term == null && partner.max_term == null) {
                    return ''
                }
                let termPlural = term => {
                    if (term >= 365) {
                        return plural(Math.floor(term / 365), '%d года', ' %d лет', '%d лет')
                    }
                    if (term >= 7) {
                        return plural(Math.floor(term / 7), '%d недели', ' %d недель', '%d недель')
                    }
                    return plural(term, '%d дня', ' %d дней', '%d дней')
                }
                let result = 'Срок '
                if (partner.min_term) {
                    result += ' от ' + termPlural(partner.min_term)
                }
                if (partner.max_term) {
                    result += ' до ' + termPlural(partner.max_term)
                }
                return result
            },
            goal(partner) {
                if (typeof ym !== 'undefined') {
                    ym(config.yandexMetricaId, 'reachGoal', 'loan', {
                        id: partner.id,
                        name: partner.name,
                    })
                }
                if (typeof ga !== 'undefined') {
                    ga('send', {
                        hitType: 'event',
                        eventCategory: 'Микрозаймы',
                        eventAction: 'loan',
                        eventLabel: partner.name,
                    })
                }
            },
            methodsText(partner) {
                if (this.methods == null || this.availableMethods == null) {
                    return '';
                }

                return partner.payment_systems
                    .filter(id => {
                        for(let method of this.availableMethods) {
                            if (method.id == id) {
                                return true
                            }
                        }
                        return false
                    })
                    .map(id => {
                        for(let method of this.availableMethods) {
                            if (method.id == id) {
                                return method.name
                            }
                        }
                    })
                    .join(', ');
            },
        },
    }
</script>
