<template>
    <div>
        <div class="h5 text-right text-sm-center filter-header">
            <span class="filter-header-placeholder text-muted" v-text="placeholder"></span>
            <template v-if="mutatedValue !== null">
                {{ mutatedValue | days }}
            </template>
        </div>
        <input type="range" class="custom-range" v-model="mutatedValue" :min="min" :max="max" step="1">
        <div class="d-flex mb-3">
            <span class="text-muted small">{{ min | days }}</span>
            <span class="text-muted small ml-auto">{{ max | days }}</span>
        </div>
    </div>
</template>

<style>
    .filter-header {
        height: 26px;
        display: block;
        position: relative;
    }
    .filter-header-placeholder {
        position: absolute;
        left: 0;
    }
</style>

<script>
    import plural from 'plural-ru'

    export default {
        model: {
            prop: 'value',
            event: 'input',
        },
        props: {
            placeholder: {
                type: String,
            },
            min: {
                type: Number,
            },
            max: {
                type: Number,
            },
            value: {
                type: Number,
            },
        },
        filters: {
            days: days => plural(days, '%d день', ' %d дня', '%d дней'),
        },
        watch: {
            mutatedValue(value) {
                this.$emit('input', Number(value))
            },
        },
        data() {
            return {
                mutatedValue: this.value,
            }
        },
    }
</script>
