<template>
    <div>
        <div class="h5 text-right text-sm-center filter-header">
            <span class="filter-header-placeholder text-muted" v-text="placeholder"></span>
            <template v-if="mutatedValue !== null">
                {{ mutatedValue | days }}
            </template>
        </div>
        <input type="range" class="custom-range" v-model="step" min="0" :max="steps.length - 1" step="1">
        <div class="d-flex mb-3">
            <span class="text-muted small">{{ min | days }}</span>
            <span class="text-muted small ml-auto">{{ max | days }}</span>
        </div>
    </div>
</template>

<style>
    .filter-header {
        height: 26px;
        display: block;
        position: relative;
    }
    .filter-header-placeholder {
        position: absolute;
        left: 0;
    }
</style>

<script>
    import days from '../filters/days'

    export default {
        model: {
            prop: 'value',
            event: 'input',
        },
        props: {
            placeholder: {
                type: String,
            },
            min: {
                type: Number,
            },
            max: {
                type: Number,
            },
            value: {
                type: Number,
            },
        },
        filters: {
            days,
        },
        watch: {
            step(step) {
                this.mutatedValue = this.steps[Number(step)]
                this.$emit('input', this.mutatedValue)
            },
        },
        data() {
            return {
                step: null,
                mutatedValue: this.value,
            }
        },
        computed: {
            steps() {
                let lastStep = this.min;
                let result = [lastStep];
                while(true) {
                    if (lastStep < 28) {
                        lastStep += 1;
                    } else {
                        lastStep += 7;
                    }
                    if (lastStep > this.max) {
                        if (result[result.length - 1] < this.max) {
                            result.push(this.max)
                        }
                        break
                    } else {
                        result.push(lastStep);
                    }
                }
                return result
            },
        }
    }
</script>
