<template>
    <div>
        <p class="text-muted" v-if="updated_at">Последнее обновление {{ updated_at | dateTime | lower }}<p>

        <h5>Leads.su</h5>

        <div class="form-group">
            <label class="form-label" for="leads_su_token">token</label>
            <b-form-input id="leads_su_token" v-model="leads_su_token"></b-form-input>
        </div>

        <h5>Admitad.com</h5>

        <div class="form-group">
            <label class="form-lable" for="admitad_com_id">client_id</label>
            <b-form-input id="admitad_com_id" v-model="admitad_com_id"></b-form-input>
        </div>

        <div class="form-group">
            <label class="form-lable" for="admitad_com_secret">client_secret</label>
            <b-form-input id="admitad_com_secret" v-model="admitad_com_secret"></b-form-input>
        </div>

        <b-button variant="primary" @click.prevent.stop="save">Сохранить</b-button>
    </div>
</template>

<script>
    import dateTime from '../../filters/dateTime'
    import lower from '../../filters/lower'
    import Alert from '../../Alert'

    const KEYS = ['leads_su_token', 'admitad_com_id', 'admitad_com_secret'];

    export default {
        filters: {dateTime, lower},
        created() {
            if (!this.$store.state.auth.user) {
                this.$router.push({ name: 'login' })
            } else if (!this.$permission('settings:api')) {
                this.$router.push({ name: 'error403' })
            } else {
                this.$store.dispatch('settings/get', KEYS)
                    .then(result => {
                        for(let key of KEYS) {
                            this[key] = result[key]
                        }
                        this.updated_at = result.updated_at
                    })
            }
        },
        data() {
            let result = {
                updated_at: null,
            }
            for(let key of KEYS) {
                this[key] = null
            }

            return result
        },
        methods: {
            save() {
                let data = {}
                for(let key of KEYS) {
                    data[key] = this[key]
                }
                this.$store.dispatch('settings/set', data).then(() => {
                    this.updated_at = new Date()
                    Alert.success('Настройки сохранены')
                }).catch(() => {
                    Alert.danger('Ошибка сервера')
                })
            },
        },
    }
</script>
