<template>
    <div>
        <p class="text-muted" v-if="updated_at">Последнее обновление {{ updated_at | dateTime | lower }}<p>
        <div class="form-group">
            <label class="form-label" for="head_append">Код перед закрытием head</label>
            <codemirror id="head_append" v-model="head_append" :options="cmOptions"></codemirror>
        </div>
        <div class="form-group">
            <label class="form-label" for="body_append">Код перед закрытием body</label>
            <codemirror id="body_append" v-model="body_append" :options="cmOptions"></codemirror>
        </div>

        <b-button variant="primary" @click.prevent.stop="save">Сохранить</b-button>
    </div>
</template>

<script>
    import dateTime from '../../filters/dateTime'
    import lower from '../../filters/lower'
    import Alert from '../../Alert'
    import { codemirror } from 'vue-codemirror'
    import 'codemirror/mode/htmlmixed/htmlmixed.js'

    export default {
        components: {codemirror},
        filters: {dateTime, lower},
        created() {
            if (!this.$store.state.auth.user) {
                this.$router.push({ name: 'login' })
            } else if (!this.$permission('settings:scripts')) {
                this.$router.push({ name: 'error403' })
            } else {
                this.$store.dispatch('settings/get', ['head_append', 'body_append'])
                    .then(result => {
                        this.head_append = result.head_append
                        this.body_append = result.body_append
                        this.updated_at = result.updated_at
                    })
            }
        },
        data() {
            return {
                head_append: null,
                body_append: null,
                updated_at: null,
                cmOptions: {
                    tabSize: 4,
                    mode: 'text/html',
                    theme: 'xq-light',
                    lineNumbers: true,
                    line: true,
                    viewportMargin: Infinity,
                },
            }
        },
        methods: {
            save() {
                this.$store.dispatch('settings/set', {
                    head_append: this.head_append,
                    body_append: this.body_append,
                }).then(() => {
                    this.updated_at = new Date()
                    Alert.success('Настройки сохранены')
                }).catch(() => {
                    Alert.danger('Ошибка сервера')
                })
            },
        },
    }
</script>
