<template>
    <div>
        <p class="text-muted" v-if="updated_at">Последнее обновление {{ updated_at | dateTime | lower }}<p>
        <div class="form-group">
            <label class="form-label" for="social_telegram">Ссылка Telegram</label>
            <b-form-input id="social_telegram" v-model="social_telegram"></b-form-input>
        </div>
        <div class="form-group">
            <label class="form-label" for="social_vk">Ссылка ВКонтакте</label>
            <b-form-input id="social_vk" v-model="social_vk"></b-form-input>
        </div>
        <div class="form-group">
            <label class="form-label" for="social_facebook">Ссылка Facebook</label>
            <b-form-input id="social_facebook" v-model="social_facebook"></b-form-input>
        </div>

        <b-button variant="primary" @click.prevent.stop="save">Сохранить</b-button>
    </div>
</template>

<script>
    import dateTime from '../../filters/dateTime'
    import lower from '../../filters/lower'
    import Alert from '../../Alert'

    const KEYS = ['social_telegram', 'social_vk', 'social_facebook'];

    export default {
        filters: {dateTime, lower},
        created() {
            if (!this.$store.state.auth.user) {
                this.$router.push({ name: 'login' })
            } else if (!this.$permission('settings:social')) {
                this.$router.push({ name: 'error403' })
            } else {
                this.$store.dispatch('settings/get', KEYS)
                    .then(result => {
                        for(let key of KEYS) {
                            this[key] = result[key]
                        }
                        this.updated_at = result.updated_at
                    })
            }
        },
        data() {
            let result = {
                updated_at: null,
            }
            for(let key of KEYS) {
                this[key] = null
            }

            return result
        },
        methods: {
            save() {
                let data = {}
                for(let key of KEYS) {
                    data[key] = this[key]
                }
                this.$store.dispatch('settings/set', data).then(() => {
                    this.updated_at = new Date()
                    Alert.success('Настройки сохранены')
                }).catch(() => {
                    Alert.danger('Ошибка сервера')
                })
            },
        },
    }
</script>
